<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

<div class="grid">
  <div class="grid__item">
    <h1 class="no-spacing">{{ 'cart.general.title' | t }}</h1>
  </div>
</div>


{% if cart.item_count > 0 %}

<hr>

<form action="/cart" method="post" novalidate class="cart table-wrap">

  <div class="grid">

    <div class="grid__item xlarge--two-thirds large--two-thirds">

      {% for item in cart.items %}

          <div class="grid">
            <div class="grid__item">
              <p>
                <a href="{{ item.url }}" class="">
                  {{ item.product.title }}
                </a>
              </p>
            </div>
          </div>

          <div class="grid">

            <!-- grid__item -->
            <div class="grid__item xlarge--one-half large--one-half medium-down--one-half">

              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                {% comment %}
                  More image size options at:
                    - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
              </a>

              <!-- /grid__item -->
            </div>

            <!-- grid__item -->
            <div class="grid__item xlarge--one-half large--one-half medium-down--one-half">
              
              <!--<div class="form-horizontal">
                <label>QTY</label> <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" value="{{ item.quantity }}" min="0">
              </div>-->

              {% if item.original_line_price != item.line_price %}
                <span class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></span>
              {% endif %}
              <p class="h6">
                Item Price: {{ item.price | money }}
              </p>
              <span class="h3">
                Total: {{ item.line_price | money }}
              </span>
              {% for discount in item.discounts %}
                <span class="cart-item__discount">{{ discount.title }}</span>
              {% endfor %}

              {% unless item.variant.title contains "Default" %}
                {% for option in item.variant.options %}
                <small>{{ item.product.options[forloop.index0] }}: {{ option }}</small> 
                {% endfor %}
              {% endunless %}

              {% if settings.cart_vendor_enable %}
                <p>{{ item.vendor }}</p>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              {% endcomment %}
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:
                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>

            <!-- /grid__item -->
            </div>
        
          <!-- /grid -->
          </div>
          
          <hr>

      {% endfor %}
    </div>

    <div class="grid__item xlarge--one-third large--one-third">

      {% if settings.cart_notes_enable %}
          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
      {% endif %}
        <p>
          <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
          <span class="h3 cart__subtotal">{{ cart.total_price | money }}</span>
        </p>
        {% if cart.total_discounts > 0 %}
          {% assign savings = cart.total_discounts | money %}
          <p>
            <span class="cart-subtotal__savings"><em>{{ 'cart.general.savings_html' | t: price: savings }}</em></span>
          </p>
        {% endif %}
        <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>

        <div class="grid">
          <div class="grid__item">
            <button id="checkout" type="submit" name="checkout" class="btn btn--large btn--full btn--primary">Go to {{ 'cart.general.checkout' | t }}</button>
          </div>
          <!--<div class="grid__item xlarge--one-half large--one-half medium--one-half">
            <button id="updateCart" type="submit" name="update" class="btn btn--tertiary btn--full update-cart">{{ 'cart.general.update' | t }}</button>
          </div>-->
        </div>

        <div class="text-left">
          <p>{{ shop.name }} processes all orders in {{ shop.currency }}.
            While the content of your cart is currently displayed in
            <span class="selected-currency"></span>,
            the checkout will use {{ shop.currency }} at the most current exchange rate.</p>
        </div>  
        
        <div class="text-left">
        {% include 'payment-methods' %}
        </div>
      
    </div>

  </div>

</form>

{% else %}

  {% comment %}
    The cart is empty
  {% endcomment %}

  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>

{% endif %}

{% section 'recently-viewed' %}

{% section 'collection-block' %}

{% section 'product-block' %}