<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 36 %}

{% include 'breadcrumb' %}

{% assign collection_list = linklists[collection.handle] %}

<div class="grid">
  <div class="grid__item">
    <header class="section-header text-center">
      {% if collection.handle == 'all' %}
        <h1 class="section-header__title">SHOP ALL</h1>
      {% else %}
        <h1 class="section-header__title">{{ collection.title }}</h1>
      {% endif %}
      {% if collection.description != blank %}
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      {% endif %}

      {% if collection_list.links != blank %}
      <div class="text-center">
        <ul class="collection__list inline-list">
          {% for link in collection_list.links %}
          <li>
            <a href="{{ link.url }}">{{ link.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </header>
  </div>
</div>

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid">

  <div class="grid__item xlarge--one-quarter large--one-quarter">

    <div class="xlarge--hide large--hide">
      <button id="filterToggle" class="btn btn--secondary btn--full"><i class="fal fa-bars"></i>&nbsp; Filter Collection</button>
    </div>
    {% section 'collection-filters' %}
  </div>

  <div class="grid__item xlarge--three-quarters large--three-quarters">

    {% include 'collection-sorting' %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform grid-equal">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>

</div>

{% endpaginate %}
