<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

<div itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% include 'breadcrumb' %}

  <div class="grid product-single">

    {% if product.images.size >= 5 %}
        {% assign prod_image_sizes = 4 %}
    {% elsif product.images.size >= 2 and product.images.size <= 4 %}
        {% assign prod_image_sizes = product.images | size %}
    {% else %}
        {% assign prod_image_sizes = 1 %}
    {% endif %}

    {% comment %}
      Create thumbnails if we have more than one product image
    {% endcomment %}
    
    <div class="grid__item xlarge--one-half large--one-half small--one-whole one-whole text-center">
      {% if product.images.size > 1 %}
          <div id="imageLoader" class="product-single-image-loader text-center">
            <img src="{{ 'image-loader-gif.gif' | asset_img_url }}" alt="Image Loader">
          </div>
          <div class="product-single__images slideshow carousel-cycle" data-cycle-fx="fade" speed="200" data-cycle-timeout="0" data-cycle-slides=" > .images__container" data-cycle-next="#next" data-cycle-prev="#prev">
          {% for image in product.images %}
            <div class="images__container text-center">
              <img class="" src="{{ image.src | img_url: '600x', format: 'pjpg' }}" srcset="{{ image.src | img_url: '900x', format: 'pjpg' }} 1000w, {{ image.src | img_url: '1280x', format: 'pjpg' }} 2000w" alt="{{ image.alt | escape }}">
            </div>
          {% endfor %}
            <div class="images__arrow" id="prev">
              <i class="far fa-chevron-left"></i>
            </div>
            <div class="images__arrow" id="next">
              <i class="far fa-chevron-right"></i>
            </div>
          </div>
          <div id="cycle-2" class="cycle-slideshow product-single__thumbnails" data-cycle-slides="> div" data-cycle-timeout="0" {% if product.images.size > 5 %}data-cycle-prev="#cycle-2-prev" data-cycle-next="#cycle-2-next" {% endif %} data-cycle-fx="carousel" data-cycle-carousel-visible="5" data-cycle-carousel-fluid="true" data-allow-wrap="false" style="max-width: 655px; width: 100%;">
          {% for image in product.images %}
            <div class="cycle-slide">
              <img class="" src="{{ image.src | img_url: '80x80', format: 'pjpg', crop: 'center' }}" srcset="{{ image.src | img_url: '120x120', format: 'pjpg', crop: 'center' }} 1000w, {{ image.src | img_url: '240x240', format: 'pjpg', crop: 'center' }} 2000w">
            </div>
          {% endfor %}
          </div>
          {% if product.images.size > 5 %}
          <div id="cycle-2-pager" class="thumbnails-pager clearfix">
            <p class="left" id="cycle-2-prev">&lsaquo; Prev</p>
            <p class="right" id="cycle-2-next">Next &rsaquo;</p>
          </div>
          {% endif %}
      {% else %}
        <div class="product-single__image">
           {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
            <img src="{{ featured_image | img_url: '600x', format: 'pjpg' }}" srcset="{{ featured_image | img_url: '900x', format: 'pjpg' }} 1000w, {{ featured_image | img_url: '1280x', format: 'pjpg' }} 2000w" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
        </div>
      {% endif %}
    </div>

    <div class="grid__item xlarge--one-half large--one-half">

      <h1 class="product-single__title" itemprop="name">{{ product.title }}</h1>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">

        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        {% comment %}
          ID addToCartForm is a selector for the ajax cart plugin
        {% endcomment %}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

          <div class="grid">

            <div class="grid__item xlarge--one-whole large--one-whole medium-down--one-half">

              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                <p id="ComparePrice" class="product-single__compare-price">
                  {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
                </p>
              {% endif %}

              <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
              <span id="ProductPrice" class="h2 product-single__price" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                {{ current_variant.price | money }}
              </span>

            </div>

            <div class="grid__item xlarge--one-whole large--one-whole medium-down--one-half">

              {% if settings.show_stock_status %}

                <div class="product-single__inventory">
                  {% if product.variants.first.inventory_management == "shopify" %}
                    {% if product.selected_or_first_available_variant.inventory_quantity > 0 %}
                       <p class="inventory__in-stock">In Stock <i class="fas fa-check"></i></p>
                    {% else %}
                       <p class="inventory__sold-out">{{ 'products.product.sold_out' | t }} <i class="fas fa-times"></i></p>
                    {% endif %}
                  {% else %}
                    <p class="inventory__in-stock">In Stock <i class="fas fa-check"></i></p>
                  {% endif %}
                </div>
                <hr class="hr hr--small">
              {% endif %}

            </div>

          </div>

          {% comment %}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {% endcomment %}
          <select name="id" id="productSelect" class="product-single__variants visually-hidden">
            {% for variant in product.variants %}
              {% if variant.available %}

                {% comment %}
                  Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                {% endcomment %}
                <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

              {% else %}
                <option disabled="disabled">
                  {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                </option>
              {% endif %}
            {% endfor %}
          </select>

          {% if settings.use_colour_swatches %}

            {% if product.available and product.variants.size > 1 %}
              {% include 'swatch' with 'Color' %}
            {% endif %}

          {% endif %}

          {% if settings.use_size_swatches %}

            {% if product.available and product.variants.size > 1 %}
              {% include 'swatch' with 'Size' %}
            {% endif %}

          {% endif %}

          <div class="form-horizontal">
            <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
            <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">
          </div>

          <div class="grid">
            
            <div class="grid__item">

              <button type="submit" name="add" id="AddToCart" class="btn btn--large btn--secondary btn--full">
                <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
              </button>

            </div>

            <!--<div class="grid__item one-half">

              <a class="btn btn--primary btn--full" id="Checkout" href="/cart/{{ product.selected_or_first_available_variant.id }}:1">
                {{ 'Buy Now' }}
              </a>

            </div>-->

          </div>

          <a style="display: none;" id="GoToCartPopup" class="btn btn--tertiary btn--full" href="/cart">{{ settings.view_cart_btn_text }}</a>

          <div class="note note--product form-success" style="display: none;" id="AddedToCartSuccess">
            Successfully added to cart!
          </div>
          {% if settings.show_alert %}
          <div id="alertbox" class="alert-box text-center" {% if settings.do_countdown %}style="display: none"{% endif %}>{% if settings.alert_text != "" %}{{ settings.alert_text }}{% endif %}</div>
          {% endif %}

          {% if settings.show_delivery_information %}
          <hr class="hr hr--small">
          <a href="#DeliveryModal" id="DeliveryModalToggle"><strong>Show Delivery Information &nbsp;&rsaquo;</strong></a>
          {% endif %}

        </form>

      </div>

      {% if settings.show_sku %}
        <hr class="hr hr--small">
        {% assign current_variant = product.selected_or_first_available_variant %}
        <p class="product-single__sku">SKU: <small class="variant-sku">{{ current_variant.sku }}</small></p>
      {% endif %}

      {% if product.description != blank %}
      <hr class="hr hr--small">
      <div class="product-description rte" itemprop="description">
        {{ product.description }}
      </div>
      {% endif %}

      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

      {% comment %}
        If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
        in the URL, we can show next/previous links to other products in the collection.
      {% endcomment %}
      {% if collection %}
        {% if collection.previous_product or collection.next_product %}
          <p>
            {% if collection.previous_product %}
              <span class="left">
                {{ 'products.general.previous_product_html' | t | link_to: collection.previous_product }}
              </span>
            {% endif %}
            {% if collection.next_product %}
              <span class="right">
                {{ 'products.general.next_product_html' | t | link_to: collection.next_product }}
              </span>
            {% endif %}
          </p>
        {% endif %}
      {% endif %}

    </div>
  </div>

  <div class="grid">
    <div class="grid__item">
      {% section 'tab-group' %}
    </div>
  </div>

</div>

{% if settings.show_delivery_information %}
{% assign delivery_page = settings.delivery_information_page %}
<div class="remodal" data-remodal-id="DeliveryModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h3>Delivery Information</h3>
  {{ pages[delivery_page].content }}
  <br>
  <button data-remodal-action="confirm" class="remodal-confirm btn btn--secondary">OK, Thanks.</button>
</div>
{% endif %}

{% section 'related-products' %}

{% section 'recently-viewed' %}

<script type="text/javascript">
jQuery('.product-single__images').on('cycle-initialized',function(){jQuery('#imageLoader').hide();});
</script>