{% if settings.show_benefits_bar %}

{% if settings.benefits_bar_columns == '3' %}
{% capture grid_item_width %}xlarge--one-third large--one-third{% endcapture %}
{% elsif settings.benefits_bar_columns == '2' %}
{% capture grid_item_width %}xlarge--one-half large--one-half{% endcapture %}
{% else %}
{% capture grid_item_width %}{% endcapture %}
{% endif %}

<div class="benefits-bar">

	<!-- <div class="wrapper"> -->

		<div class="grid grid-equal grid--full" id="benefitsBarSlides">

			{% if settings.benefits_bar_show_column_one %}

			<div class="grid__item benefits-bar__col col--one {{ grid_item_width }} text-center">

				<div class="col__inner">

					{% if settings.benefits_bar_column_one_link != Blank %}
					<a href="{{ settings.benefits_bar_column_one_link }}">
					{% endif %}
					
					{{ settings.benefits_bar_column_one }}

					{% if settings.benefits_bar_column_one_link != Blank %}
					</a>
					{% endif %}

				</div>

			</div>

			{% endif %}

			{% if settings.benefits_bar_show_column_two %}

			<div class="grid__item benefits-bar__col col--two {{ grid_item_width }} text-center">

				<div class="col__inner">

					{% if settings.benefits_bar_column_two_link != Blank %}
					<a href="{{ settings.benefits_bar_column_two_link }}">
					{% endif %}
					
					{{ settings.benefits_bar_column_two }}

					{% if settings.benefits_bar_column_two_link != Blank %}
					</a>
					{% endif %}

				</div>

			</div>

			{% endif %}

			{% if settings.benefits_bar_show_column_three %}

			<div class="grid__item benefits-bar__col col--three {{ grid_item_width }} text-center">

				<div class="col__inner">

					{% if settings.benefits_bar_column_three_link != Blank %}
					<a href="{{ settings.benefits_bar_column_three_link }}">
					{% endif %}
					
					{{ settings.benefits_bar_column_three }}

					{% if settings.benefits_bar_column_three_link != Blank %}
					</a>
					{% endif %}

				</div>

			</div>

			{% endif %}
			
		</div>
		
	<!-- </div> -->

</div>

{% endif %}