<!-- begin site-footer -->
<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">
    <div class="grid">
      <div class="grid__item xlarge--one-quarter large--one-quarter medium--one-half">
        <div class="h2 site-footer__logo small--text-center" itemscope itemtype="http://schema.org/Organization">
        {% if settings.footer_image_logo_enable %}
          <a href="/" itemprop="url" class="site-footer__logo-link">
            <img src="{{ 'footer_logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}
        </div>
        {% if settings.footer_social_enable %}
          {% include 'social-list' %}
        {% endif %}
      </div>
      <div class="grid__item xlarge--one-quarter large--one-quarter medium--one-third">
        {% if linklists[settings.footer_menu_one].links != blank %}
          <ul class="no-bullets">
            {% for childlink in linklists[settings.footer_menu_one].links %}
              <li{% if childlink.active %} class="footer-nav--active"{% endif %}>
                <a href="{{ childlink.url }}" class="foooter-nav__link">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      <div class="grid__item xlarge--one-quarter large--one-quarter medium--one-third">
        {% if linklists[settings.footer_menu_two].links != blank %}
          <ul class="no-bullets">
            {% for childlink in linklists[settings.footer_menu_two].links %}
              <li{% if childlink.active %} class="footer-nav--active"{% endif %}>
                <a href="{{ childlink.url }}" class="foooter-nav__link">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      {% if settings.footer_newsletter_enable %}
        <div class="grid__item xlarge--one-quarter large--one-quarter medium--one-half">
          {% include 'newsletter' %}
        </div>
      {% endif %}
      <div class="grid__item text-center">
        <hr>
        {% include 'payment-methods' %}
        <a href="http://shopify.com/timber">Theme </a> by <a href="https://interpolate.co" title="Theme by Interpolate co">Interpolate co</a><br>
        <small>{{ powered_by_link }}</small>
      </div>
    </div>
  </div>
</footer>
<!-- //site-footer -->