{% assign google_fonts = "Lato:400, Lato:700, Montserrat:400, Montserrat:500, Oswald:400, Oswald:600, Open+Sans:400, Open+Sans:600, Roboto:400, Roboto:500, Roboto+Condensed:400, Roboto+Condensed:700, Roboto+Slab:400, Roboto+Slab:700, Playfair+Display:400, Playfair+Display:700, Source+Serif+Pro:400, Source+Serif+Pro:600" | split: ", " %}

{% if google_fonts contains settings.type_header_family %}
{{ '//fonts.googleapis.com/css?family=' | append: settings.type_header_family | stylesheet_tag }}
{% endif %}

{% if google_fonts contains settings.body_copy_family %}
{{ '//fonts.googleapis.com/css?family=' | append: settings.body_copy_family | stylesheet_tag }}
{% endif %}

{% if google_fonts contains settings.navigation_family %}
{{ '//fonts.googleapis.com/css?family=' | append: settings.navigation_family | stylesheet_tag }}
{% endif %}

{% if google_fonts contains settings.button_family %}
{{ '//fonts.googleapis.com/css?family=' | append: settings.button_family | stylesheet_tag }}
{% endif %}