{% include 'ajax-cart-template' %}
{% include 'quick-cart' %}

<script type="text/javascript">
window.onload = function (e){
{% if resetPassword %}
	$(function() {
	timber.resetPasswordSuccess();
	});
{% endif %}
{% if settings.ajax_cart_method == "drawer" %}
  jQuery(function($) {
    ajaxCart.init({
      formSelector: '#AddToCartForm',
      cartContainer: '#CartContainer',
      addToCartSelector: '#AddToCart',
      // cartCountSelector: '#CartCount',
      // cartCostSelector: '#CartCost',
      moneyFormat: {{ shop.money_format | json }}
    });
  });
  jQuery(document.body).on('afterCartLoad.ajaxCart', function(evt, cart) {
    // Bind to 'afterCartLoad.ajaxCart' to run any javascript after the cart has loaded in the DOM
    timber.RightDrawer.open();
  });
{% else %}
   jQuery(function($) {
    ajaxCart.init({
      // formSelector: '#AddToCartForm',
      cartContainer: '#CartContainer',
      addToCartSelector: '#AddToCart',
      // cartCountSelector: '#CartCount',
      // cartCostSelector: '#CartCost',
      enableQtySelectors: true,
      disableAjaxCart: false,
      moneyFormat: {{ shop.money_format | json }}
    });

    $('#Checkout').off('.ajaxCart');
  });
  jQuery(document.body).on('completeAddItem.ajaxCart', function(evt, obj, jqxhr, text) {
    if(text == 'success'){
      jQuery('#AddedToCartSuccess').show();
      jQuery('#GoToCartPopup').show();
    }else{
      jQuery('#AddedToCartSuccess').hide();
      jQuery('#GoToCartPopup').hide();
    }
  });
{% endif %}
{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}
{% if template contains 'product' %}
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
    // BEGIN SWATCHES
    if (variant) {
      var form        = jQuery('#' + selector.domIdPrefix).closest('form'),
          $inventory  = $('.product-single__inventory'),
          $sku        = $('.variant-sku');
      for (var i=0,length=variant.options.length; i<length; i++) {
        var radioButton = form.find('.swatch[data-option-index="' + i + '"] :radio[value="' + variant.options[i] +'"]');
        if (radioButton.size()) {
          radioButton.get(0).checked = true;
        }
      }
      {% if settings.show_sku %}
      $sku.text(variant.sku);
      {% endif %}
      if( variant.available ){
        $inventory.html( '<p class="inventory__in-stock">In Stock <i class="fas fa-check"></i></p>' );
      }else{
        $inventory.html( '<p class="inventory__sold-out">{{ 'products.product.sold_out' | t }} <i class="fas fa-times"></i></p>' );
      }
    }
    var qty = ( $('#Quantity').length > 0 ?  $('#Quantity').val() : 1 ),
        url = '/cart/' + variant.id + ':' + qty;
    $('#Checkout').attr('href', url);
    // END SWATCHES
  }
  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
    var $selectorWrappers = $('.selector-wrapper');
    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $selectorWrappers.eq(0).prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}
    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $selectorWrappers.hide();
    {% endif %}
    $selectorWrappers.each(function () {
        var $this = $(this);
        $this.append('<hr class="hr hr--small">');
        if(!$this.children('label').eq(0).is(':visible')){
            console.log('hidden');
            $this.addClass('is--hidden');
        }
    });
    $('.carousel-cycle').cycle();
  });
	Shopify.Products.recordRecentlyViewed();
	jQuery(function() {
      jQuery('.swatch :radio').change(function() {
        var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
        var optionValue = jQuery(this).val();
        jQuery(this)
          .closest('form')
          .find('.single-option-selector')
          .eq(optionIndex)
          .val(optionValue)
          .trigger('change');
      });
    });
  var slideshows = jQuery('.product-single__images').on('cycle-next cycle-prev', function(e, opts) {
      // advance the other slideshow
      slideshows.not(this).cycle('goto', opts.currSlide);
  });
  jQuery('#cycle-2 .cycle-slide').click(function(){
      var index = jQuery('#cycle-2').data('cycle.API').getSlideIndex(this);
      slideshows.cycle('goto', index);
  });
{% endif %}
  var bTTBtn = document.getElementById('BackToTopButton');
	window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          bTTBtn.style.display = "block";
      } else {
          bTTBtn.style.display = "none";
      }
  } 
  function backToTopFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
  }
  bTTBtn.addEventListener('click', backToTopFunction);
}
</script>
{% include 'currencies' %}