{% comment %}
Loop through available payment methods and show their icons.
{% endcomment %}
{% unless shop.enabled_payment_types == empty %}

{% assign payment_icons_available = 'amazon_payments,american_express,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' | split: ',' %}
<h4 class="">{{ 'layout.footer.accepted_payments' | t }}</h4>

<ul class="inline-list payment-icons">
    {% for type in shop.enabled_payment_types %}
        {% if payment_icons_available contains type %}
            <li>
                <span class="icon-fallback-text">
                <span class="icon icon-{{type}}" aria-hidden="true"></span>
                <span class="fallback-text">{{ type | replace: '_',' '}}</span>
                </span>
            </li>
        {% endif %}
    {% endfor %}
</ul>
{% endunless %}