<script type="text/javascript" async>

jQuery(function($) {
	var QuickCart = QuickCart || {};
	QuickCart.quickCart = function () {
		var self 		= this,
			$itemRemove = $('.item__remove');
		if( $itemRemove.length > 0 ){
			$itemRemove.on('click', function () {
				self.removeQuickCartItem( $(this) );
			});
		}
	}

	QuickCart.updateQuickCart = function (data) {
		var itemCount 	= data.item_count,
			$cartCount 	= $('#CartCount'),
			emptyPrice	= Shopify.formatMoney( 000, "{{ shop.money_format }}" ),
			cartPrice 	= Shopify.formatMoney( data.total_price, "{{ shop.money_format }}" ),
			$notice 	= $('#NoCartItemsNotice', '.quick-cart'),
			$cartCost 	= $('#CartCost');
		if( itemCount == 0 ){
			$notice.show();
			$cartCost.html( emptyPrice );
		}else{
			$notice.hide();
			$cartCost.html( cartPrice );
		}
		$cartCount.text(itemCount);
	}
	QuickCart.removeQuickCartItem = function (ele) {
		var self = this;
		var $this = $(ele),
			$data = $this.data('product-id');
		$.ajax({
			url: '/cart/update.js',
			type: 'POST',
			dataType: 'JSON',
			data: 'updates['+$data+']=0',
			success: function (data) {
				$('.quick-cart__item', '.quick-cart').remove();
				self.updateQuickCart(data);
				self.getQuickCartItems();
			},
			error: function ( error ){
				console.log( error );
			}
		});
	}

	QuickCart.getQuickCartItems = function () {
		var self = this;
		$.ajax({
			url: '/cart.js',
			type: 'GET',
			dataType: 'JSON',
			success: function (data) {
				var items = data.items;
				if( items.length > 0 ){
					$('.quick-cart__item', '.quick-cart').remove();
					for( item in items ){
						$('.quick-cart').prepend( self.createQuickCartItem( items[item] ) );
					}
				}
				self.updateQuickCart(data);
			},
			error: function ( error ){
				console.log( error );
			}
		})
	}

	QuickCart.createQuickCartItem = function (item) {
		var self = this;
		var $quickCartItem = $('<div />', {
				class: 'quick-cart__item clearfix'
			}),
			$content = $('<div />', {
				class: 'item__content text-left'
			}),
			$img = $('<img/>', {
				src: item.image,
				alt: item.title
			}),
			$qty = $('<p/>', {
				text: 'QTY: '+item.quantity
			}),
			$remove = $('<p/>', {
				class: 'item__remove',

			}).attr('data-product-id', item.id),
			$anchor = $('<a/>', {
				href: item.url
			});
		$remove.html('<small>Remove</small>');
		$remove.on('click', function () {
			self.removeQuickCartItem( $(this) )
		});
		$anchor.append($img);
		$content.append('<p>'+item.title+'</p>');
		$content.append('<p>'+Shopify.formatMoney( item.line_price, "{{ shop.money_format }}" )+'</p>');
		$content.append($qty);
		$content.append($remove);
		$quickCartItem.append($anchor, $content);
		return $quickCartItem;
	}
	QuickCart.init = function () {
		var self = this;
		self.quickCart();
		jQuery(document.body).on('afterCartLoad.ajaxCart', function(cart) {
			self.getQuickCartItems();
		});
	}
	QuickCart.init();
});
</script>