{% if settings.show_top_bar %}

<div class="top-bar">

	<div class="wrapper">

		<div class="text-center">

			{% if settings.top_bar_link != blank %}
			<a href="{{ settings.top_bar_link }}">
			{% endif %}
			
			{{ settings.top_bar_text }}

			{% if settings.top_bar_link != blank %}
			</a>
			{% endif %}

		</div>
		
	</div>
	
</div>

{% endif %}