{% if section.settings.show %}

{% if section.blocks.size == 3 %}
{% capture grid_item_width %}xlarge--one-third large--one-third{% endcapture %}
{% elsif section.blocks.size == 2 %}
{% capture grid_item_width %}xlarge--one-half large--one-half{% endcapture %}
{% else %}
{% capture grid_item_width %}{% endcapture %}
{% endif %}

<div class="{{ section.settings.section_layout }}">

    <div class="benefits-bar">

        {% if section.settings.contain %}
        <div class="wrapper">
        {% endif %}

            <div class="grid grid-equal grid--full" id="benefitsBarSlides">

            {% for block in section.blocks %}

                <div class="grid__item benefits-bar__col col--one {{ grid_item_width }} benefits-bar__col-{{ forloop.index }} {{ block.settings.content_alignment }}">

                    <div class="col__inner">

                        {% if block.settings.benefits_bar_link != Blank %}
                        <a href="{{ block.settings.benefits_bar_link }}">
                        {% endif %}
                        
                        {{ block.settings.benefits_bar_content }}

                        {% if block.settings.benefits_bar_link != Blank %}
                        </a>
                        {% endif %}

                    </div>

                </div>

            {% endfor %}

            </div>

        {% if section.settings.contain %}
        </div>
        {% endif %}

    </div>

</div>

<style style="text/css">

     #shopify-section-{{ section.id }} .benefits-bar__col .col__inner {
        font-size: {{ section.settings.font_size }}px;
    }

    {% for block in section.blocks %}

    #shopify-section-{{ section.id }} .benefits-bar__col-{{ forloop.index }} {
        border-color: {{ block.settings.border }};
    }

        #shopify-section-{{ section.id }} .benefits-bar__col-{{ forloop.index }} .col__inner{
            background-color: {{ block.settings.background }};
            color: {{ block.settings.font_colour }};
        }

    {% endfor %}
    
</style>

{% endif %}

{% schema %}
{
    "name": "Benefits Bar",
    "class": "benefits-bar",
    "max_blocks": 6,
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show section?",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain content within wrapper?",
            "default": true,
            "info": "This will contain your content to a maximum of 1120px."
        },
        {
            "type": "range",
            "id": "font_size",
            "min": 8,
            "max": 22,
            "step": 1,
            "unit": "px",
            "label": "Font Size",
            "default": 12
        }
    ],
    "blocks": [
        {
            "type" : "benefit",
            "name" : "Benefit",
            "settings": [
                {
                    "type": "url",
                    "id": "benefits_bar_link",
                    "label": "Benefits Bar Link"
                },
                {
                    "type": "html",
                    "id": "benefits_bar_content",
                    "label": "Benefits Bar",
                    "default": "<p><strong>Free Standard Delivery<\/strong> on orders £45 or over<\/p>"
                },
                {
                    "type": "select",
                    "id": "content_alignment",
                    "label": "Content Alignment",
                    "default": "text-center",
                    "options": [
                        {
                            "value": "text-left",
                            "label": "Left"
                        },
                        {
                            "value": "text-center",
                            "label": "Center"
                        },
                        {
                            "value": "text-right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "background",
                    "label": "Background Colour",
                    "default": "#009cde"
                },
                {
                    "type": "color",
                    "id": "border",
                    "label": "Border Colour",
                    "default": "#EFEFEF"
                },
                {
                    "type": "color",
                    "id": "font_colour",
                    "label": "Font Colour",
                    "default": "#009cde"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Benefits Bar",
            "category": "Layout",
            "blocks": [
                { 
                    "type": "benefit"
                },
                {
                    "type": "benefit"
                }
            ]
        }
    ]
}
{% endschema %}