{% if section.settings.show %}

{% if section.settings.columns == "4" %}
{% assign grid_item__width = "xlarge--one-quarter large--one-quarter medium--one-quarter small--one-half" %}
{% elsif section.settings.columns == "3" %}
{% assign grid_item__width = "xlarge--one-third large--one-third medium--one-third small--one-half" %}
{% elsif section.settings.columns == "2" %}
{% assign grid_item__width = "xlarge--one-half large--one-half medium--one-half small--one-half" %}
{% elsif section.settings.columns == "1" %}
{% assign grid_item__width = "xlarge--one-whole large--one-whole medium--one-whole" %}
{% endif %}

<div {% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

	{% if section.settings.contain %}
	<div class="wrapper">
	{% endif %}

		{% if section.settings.title != ""  %}

			<div class="grid">
				<div class="grid__item">
					<div class="{{ section.settings.heading-alignment }}">
						<h2>{{ section.settings.title }}</h2>
					</div>
				</div>
			</div>

		{% endif %}

		<div class="grid grid-equal">

		{% assign collection = collections[section.settings.collection] %}

			{% for product in collection.products limit: section.settings.total_products %}

				{% include 'product-grid-item', grid_item_width:grid_item__width %}

			{% endfor %}

		</div>

	{% if section.settings.contain %}
	</div>
	{% endif %}

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">
    #shopify-section-{{ section.id }} > div{
        padding-top: {{ section.settings.top_spacing }}px;
        padding-bottom: {{ section.settings.bottom_spacing }}px;
        background-color: {{ section.settings.background_colour }};
        border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
        border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
    }

    {% assign count = 0 %}

    {% for block in section.blocks %}

        {% assign count = count | plus: 1 %}

    {% endfor %}
    #shopify-section-{{ section.id }} h3{
        color: {{ section.settings.title_colour }};
    }
</style>

{% endif %}

{% schema %}
 {
	"name": "Collection Block",
	"class": "collection-block",
	"settings": [
		{
	        "type": "checkbox",
	        "id": "show",
	        "label": "Show section?",
	        "default": true
	    },
		{
			"type": "select",
			"id": "section_layout",
			"label": "Section Layout?",
			"default": "full-width",
			"info": "This will bleed the section to the full width of the screen.",
			"options": [
				{
					"value": "full-width",
					"label": "Full Width with padding"
				},
				{
					"value": "full-width full-width--no-padding",
					"label": "Full Width no padding"
				},
				{
					"value": "boxed",
					"label": "Boxed"
				}
			]
        },
        {
			"type": "checkbox",
			"id": "contain",
			"label": "Contain content within wrapper?",
			"default": true,
			"info": "This will contain your content to a maximum of 1120px."
        },
        {
			"type": "text",
			"id": "top_spacing",
			"label": "Top Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
        },
        {
			"type": "text",
			"id": "bottom_spacing",
			"label": "Bottom Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
        },
        {
			"type": "color",
			"id": "background_colour",
			"label": "Background Colour",
			"default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_top",
            "label": "Border Top",
            "default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_bottom",
            "label": "Border Bottom",
            "default": "#EEEEEE"
        },
        {
          "type":   "range",
          "id":     "border_thickness",
          "min":       0,
          "max":       5,
          "step":      1,
          "unit":      "px",
          "label":     "Border Thickness",
          "default":   1
        },
		{
			"type": "select",
			"id": "columns",
			"label": "Products per Row",
			"default": "4",
			"options": [
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "1",
					"label": "1"
				}
			]
		},
		{
			"type": "select",
			"id": "total_products",
			"label": "Total Products",
			"default": "4",
			"options": [
				{
					"value": "12",
					"label": "12"
				},
				{
					"value": "11",
					"label": "11"
				},
				{
					"value": "10",
					"label": "10"
				},
				{
					"value": "9",
					"label": "9"
				},
				{
					"value": "8",
					"label": "8"
				},
				{
					"value": "7",
					"label": "7"
				},
				{
					"value": "6",
					"label": "6"
				},
				{
					"value": "5",
					"label": "5"
				},
				{
					"value": "4",
					"label": "4"
				},
				{
					"value": "3",
					"label": "3"
				},
				{
					"value": "2",
					"label": "2"
				},
				{
					"value": "1",
					"label": "1"
				}
			]
		},
		{
		  "type": "collection",
		  "id": "collection",
		  "label": "Collection"
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Collection Block"
		},
		{
			"type": "select",
			"id": "heading-alignment",
			"label": "Heading alignment",
			"default": "text-left",
			"options": [
				{
					"value": "text-left",
					"label": "Left"
				},
				{
					"value": "text-center",
					"label": "Center"
				},
				{
					"value": "text-right",
					"label": "Right"
				}
			]
		}
	],
	"presets": [
		{
		  "name": "Collection Block",
		  "category": "Collections"
		}
  	]
}
{% endschema %}