{% if section.settings.show_filters %}

	{% for block in section.blocks %}

		{% assign tag_array = block.settings.filters | split: ',' | downcase %}
		{% assign found_prods = false %}

		{% for tag in collection.all_tags %}
			{% assign the_tag = tag | downcase %}
			{% if tag_array contains the_tag and the_tag != shop.name %}
				{% assign found_prods = true %}
			{% endif %}
		{% endfor %}

		{% comment %}
		{% if forloop.first %}
		<hr class="xlarge--hide large--hide">
		{% endif %}
		{% endcomment %}

		<div class="bordered-content">

		{% if block.settings.filter_title != blank %}
			<h3 class="h2">{{ block.settings.filter_title }}</h3>
		{% endif %}

		{% if found_prods %}

			{% for tag in collection.all_tags %}
				{% assign the_tag = tag | downcase %}
				{% if tag_array contains the_tag and the_tag != shop.name %}
				<label for="{{ tag }}">
					<input {% if current_tags contains tag %}checked{% endif %} class="coll-filter" id="{{ tag }}" name="{{ block.settings.filter_title | handleize }}" type="radio" value="{{ tag }}">
						{{ tag | capitalize }}
				</label>
				{% endif %}
			{% endfor %}

		{% else %}

			<p>There are no filters for this collection.</p>

		{% endif %}

		{% comment %}
		{% if found_prods %}
		<hr class="hr hr--small">
		{% endif %}
		{% endcomment %}

		</div>

	{% endfor %}

	<button class="btn btn--full btn--secondary" id="filterClear">Clear Filters</button>

{% endif %}

<script type="text/javascript" defer>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var collFilters = jQuery('.coll-filter'),
  	  filterClear = jQuery('#filterClear');

  collFilters.change(function() {
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val() && jQuery(this).is(":checked")) {
        newTags.push(jQuery(this).val());
      }
    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('/' + 'tag', '/' + query);
    }
    else {
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
  });

  filterClear.on('click', function () {
  	var loop = 1;

  	collFilters.each(function() {

		if (jQuery(this).val() && jQuery(this).is(":checked")) {
			jQuery(this).prop('checked', false);
			jQuery(this).data('checked', false);
		}

		if( loop == collFilters.length ){
			jQuery(this).trigger('change');
		}

		loop++;
    });
  });
</script>

<style style="text/css">
  	
  	#shopify-section-collection-filters h3{
	    color: {{ section.settings.title_font_colour }};
	    font-size: {{ section.settings.filter_title_font_size }}px;
 	}

 	#shopify-section-collection-filters label{
 		display: block;
 		padding-bottom: 5px;
	    color: {{ section.settings.font_colour }};
	    font-size: {{ section.settings.filter_font_size }}px;
 	}
 	
</style>

{% schema %}
 {
	"name": "Filters",
	"class": "collection-filters-block",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_filters",
			"label": "Show Filters?"
		},
		{
			"type": "header",
			"content": "Styles"
		},
		{
			"type": "color",
			"id": "title_font_colour",
			"label": "Title Font Colour",
			"default": "#EEEEEE"
		},
		{
			"type": "color",
			"id": "font_colour",
			"label": "Font Colour",
			"default": "#EEEEEE"
		},
		{
          "type":   "range",
          "id":     "filter_title_font_size",
          "min":       8,
          "max":       24,
          "step":      1,
          "unit":      "px",
          "label":     "Title Font Size",
          "default":   10
      	},
      	{
          "type":   "range",
          "id":     "filter_font_size",
          "min":       8,
          "max":       24,
          "step":      1,
          "unit":      "px",
          "label":     "Font Size",
          "default":   10
      	}
	],
	"blocks": [
		{
			"type": "filter",
			"name": "Filter",
			"settings": [
				{
					"type": "text",
					"id": "filter_title",
					"label": "Filter Title"
				},
				{
					"type": "text",
					"id": "filters",
					"label": "Filters",
					"info": "Split filters with a \',\'. For example, Red,Blue,Yellow"
				}
			]
		}
	],
	"presets": [
		{
		  "name": "Filter",
		  "category": "filter"
		}
  	]
}
{% endschema %}