{% if section.settings.show %}

<div class="{{ section.settings.section_layout }}">

  {% if section.settings.contain %}
  <div class="wrapper">
  {% endif %}

    <div class="grid grid--uniform">

        {% for block in section.blocks %} 

        {% if block.settings.column_width == "quarter" %}
        {% assign grid_item__width = "xlarge--one-quarter large--one-quarter medium--one-quarter" %}
        {% elsif block.settings.column_width == "third" %}
        {% assign grid_item__width = "xlarge--one-third large--one-third medium--one-third" %}
        {% elsif block.settings.column_width == "half" %}
        {% assign grid_item__width = "xlarge--one-half large--one-half medium--one-half" %}
        {% elsif block.settings.column_width == "whole" %}
        {% assign grid_item__width = "xlarge--one-whole large--one-whole medium--one-whole" %}
        {% elsif block.settings.column_width == "two-thirds" %}
        {% assign grid_item__width = "xlarge--two-thirds large--two-thirds medium--two-thirds" %}
        {% elsif block.settings.column_width == "three-quarters" %}
        {% assign grid_item__width = "xlarge--three-quarters large--three-quarters medium--three-quarters" %}
        {% endif %}

        <div class="grid__item {{ grid_item__width }}">

            {% if block.settings.button_link != blank %}
            <a href="{{ block.settings.button_link }}">
            {% endif %}

            <div class="hover-box hover-box--{{ block.settings.hero_size }} hover-box-{{ forloop.index }}" 
            style="background-position: {{ block.settings.alignment }}; background-image: url('{{ block.settings.image | img_url: '480x' }}')" >

                <div class="hover-box__position">

                    <div class="hover-box__content">

                        {% if block.settings.image == blank %}
                        <div class="placeholder-background">
                            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                        </div>
                        {% endif %}

                        <div class="hover-box__inner {% if block.settings.content-vertical-alignment %}{{ block.settings.content-vertical-alignment }}{% endif %}">
                            <div class="text-center">
                            {% if block.settings.title != blank %}
                            <h2 class="hover-box__title{% if block.settings.text_size == 'large' %} hover-box__title--large{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.title | escape }}</h2>
                            {% endif %}

                            {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                                <p class="btn hero__btn {% if block.settings.button_type %}{{ block.settings.button_type }}{% endif %}">
                                    {{ block.settings.button_label | escape }}
                                </p>
                            {% endif %}
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            {% if block.settings.button_link != blank %}
            </a>
            {% endif %}
          
        </div>

        {% endfor %}

    </div>

  {% if section.settings.contain %}
  </div>
  {% endif %}

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">

    #shopify-section-{{ section.id }} > div{
        padding-top: {{ section.settings.top_spacing }}px;
        padding-bottom: {{ section.settings.bottom_spacing }}px;
        background-color: {{ section.settings.background_colour }};
        border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
        border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
    }

    #shopify-section-{{ section.id }} h3{
        color: {{ section.settings.title_colour }};
    }

    {% for block in section.blocks %}

    {% capture background_color %}{{ block.settings.overlay_colour }}99{% endcapture %}
    {% if block.settings.overlay_colour %}
    #shopify-section-{{ section.id }} .hover-box-{{ forloop.index }} .hover-box__inner{background-color: {{ background_color | color_to_rgb }};}
    {% endif %}

    #shopify-section-{{ section.id }} .hover-box-{{ forloop.index }}{
        background-image: url( "{{ block.settings.image | img_url: '480x' }}" );
    }

    @media only screen and ( min-width: 481px ) and ( max-width: 768px ){

        #shopify-section-{{ section.id }} .hover-box-{{ forloop.index }}{
            background-image: url( "{{ block.settings.image | img_url: '768x' }}" );
        }
    }

    @media only screen and ( min-width: 769px ){
        
        #shopify-section-{{ section.id }} .hover-box-{{ forloop.index }}{
            background-image: url( "{{ block.settings.image | img_url: '1120x' }}" );
        }
    }

    {% endfor %}
    
</style>

{% endif %}

{% schema %}
{
    "name": "Hover Boxes",
    "class": "hover-box-container",
    "max_blocks": 6,
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show section?",
            "default": true
        },
        {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain content within wrapper?",
            "default": true,
            "info": "This will contain your content to a maximum of 1120px."
        },
        {
            "type": "text",
            "id": "top_spacing",
            "label": "Top Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "text",
            "id": "bottom_spacing",
            "label": "Bottom Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_top",
            "label": "Border Top",
            "default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_bottom",
            "label": "Border Bottom",
            "default": "#EEEEEE"
        },
        {
          "type":   "range",
          "id":     "border_thickness",
          "min":       0,
          "max":       5,
          "step":      1,
          "unit":      "px",
          "label":     "Border Thickness",
          "default":   1
        }
    ],
    "blocks": [
        {
            "type" : "hover_boxes",
            "name" : "Hover Boxes",
            "settings": [
                {
                    "type": "select",
                    "id": "column_width",
                    "label": "Image width",
                    "default": "quarter",
                    "options": [
                        {
                            "value": "quarter",
                            "label": "One Quarter"
                        },
                        {
                            "value": "third",
                            "label": "One Third"
                        },
                        {
                            "value": "two-thirds",
                            "label": "Two Thirds"
                        },
                        {
                            "value": "half",
                            "label": "One Half"
                        },
                        {
                            "value": "three-quarters",
                            "label": "Three Quarters"
                        },
                        {
                            "value": "whole",
                            "label": "Full Width"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Image Hover Box"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "alignment",
                    "label": "Image alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                            }
                    ]
                },
                {
                    "type": "select",
                    "id": "content-vertical-alignment",
                    "label": "Content Vertical Alignment",
                    "default": "hover-box__inner--middle",
                    "options": [
                        {
                            "value": "hover-box__inner--top",
                            "label": "Top"
                        },
                        {
                            "value": "hover-box__inner--middle",
                            "label": "Middle"
                        },
                        {
                            "value": "hover-box__inner--bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "hero_size",
                    "label": "Section height",
                    "default": "medium",
                    "options": [
                        {
                            "label": "Small",
                            "value": "small"
                        },
                        {
                            "label": "Medium",
                            "value": "medium"
                        },
                        {
                            "label": "Large",
                            "value": "large"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_size",
                    "label": "Text size",
                    "default": "medium",
                    "options": [
                        {
                            "label": "Medium",
                            "value": "medium"
                        },
                        {
                            "label": "Large",
                            "value": "large"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "button_type",
                    "label": "Button Type",
                    "default": "btn--primary",
                    "options": [
                        {
                            "label": "Primary",
                            "value": "btn--primary"
                        },
                        {
                            "label": "Secondary",
                            "value": "btn--secondary"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button label"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                },
                {
                    "type": "color",
                    "id": "overlay_colour",
                    "label": "Overlay Colour"
                },
                {
                    "type": "color",
                    "id": "text_colour",
                    "label": "Text Colour"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hover Boxes",
            "category": "Image",
            "blocks": [
                { 
                    "type": "hover_boxes"
                },
                {
                    "type": "hover_boxes"
                }
            ]
        }
    ]
}
{% endschema %}