{% if section.settings.show %}

<div class="{{ section.settings.section_layout }}">

	{% if section.settings.contain %}
	<div class="wrapper">
	{% endif %}

		<div class="grid">
			
			<div class="grid__item">

				<div class="hero hero--{{ section.settings.hero_size }} hero--tablet--{{ section.settings.hero_size_tablet }} hero--mobile--{{ section.settings.hero_size_mobile }}"  style="background-position: {{ section.settings.alignment }};">
					
					{% if section.settings.image == blank %}
					<div class="placeholder-background">
					  {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
					</div>
					{% endif %}

					{% if section.settings.title != blank or section.settings.text != blank or section.settings.button_label != blank %}
					<div class="hero__overlay">

						<div class="hero__inner">

							<div class="hero__content {% if section.settings.content-vertical-alignment %}{{ section.settings.content-vertical-alignment }}{% endif %} {% if section.settings.content-horizontal-alignment %}{{ section.settings.content-horizontal-alignment }}{% endif %}">
								<div class="page-width">
								  {% if section.settings.title != blank %}
									<h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.title | escape }}</h2>
								  {% endif %}
								  {% if section.settings.text != blank %}
									<div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.text }}</div>
								  {% endif %}
								  {% if section.settings.button_label != blank and section.settings.button_link != blank %}
									<a href="{{ section.settings.button_link }}" class="btn {{ section.settings.button_style }} {{ section.settings.button_size }} hero__btn">
									  {{ section.settings.button_label | escape }}
									</a>
								  {% endif %}
								</div>
							</div>
						</div>

					</div>
					{% endif %}
						
				</div>

			</div>

		</div>

	{% if section.settings.contain %}
	</div>
	{% endif %}

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">

    #shopify-section-{{ section.id }} > div{
        padding-top: {{ section.settings.top_spacing }}px;
        padding-bottom: {{ section.settings.bottom_spacing }}px;
        background-color: {{ section.settings.background_colour }};
        border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
        border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
    }

    #shopify-section-{{ section.id }} .hero{
        background-image: url( "{{ section.settings.image | img_url: '480x' }}" );
    }

    @media only screen and ( min-width: 481px ) and ( max-width: 768px ){
        #shopify-section-{{ section.id }} .hero{
            background-image: url( "{{ section.settings.image | img_url: '768x' }}" );
        }
    }

    @media only screen and ( min-width: 769px ){
        #shopify-section-{{ section.id }} .hero{
            background-image: url( "{{ section.settings.image | img_url: '1120x' }}" );
        }
    }

</style>

{% endif %}

{% schema %}
{
	"name": "Image with text overlay",
	"class": "index-section index-section--flush",
	"settings": [
		{
            "type": "checkbox",
            "id": "show",
            "label": "Show section?",
            "default": true
        },
		{
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
		{
			"type": "checkbox",
			"id": "contain",
			"label": "Contain content within wrapper?",
			"default": true,
			"info": "This will contain your content to a maximum of 1120px."
		},
		{
			"type": "text",
			"id": "top_spacing",
			"label": "Top Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
		},
		{
			"type": "text",
			"id": "bottom_spacing",
			"label": "Bottom Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
		},
			{
			"type": "color",
			"id": "background_colour",
			"label": "Background Colour",
			"default": "#EEEEEE"
		},
		{
			"type": "image_picker",
			"id": "image",
			"label": "Image"
		},
		{
			"type": "select",
			"id": "alignment",
			"label": "Image alignment",
			"default": "center",
			"options": [
				{
					"value": "top",
					"label": "Top"
				},
				{
					"value": "center",
					"label": "Middle"
				},
				{
					"value": "bottom",
					"label": "Bottom"
				}
			]
		},
		{
			"type": "select",
			"id": "content-vertical-alignment",
			"label": "Content Vertical Alignment",
			"default": "hero__content--middle",
			"options": [
				{
					"value": "hero__content--top",
					"label": "Top"
				},
				{
					"value": "hero__content--middle",
					"label": "Middle"
				},
				{
					"value": "hero__content--bottom",
					"label": "Bottom"
				}
			]
		},
		{
			"type": "select",
			"id": "content-horizontal-alignment",
			"label": "Content Horizontal Alignment",
			"default": "text-center",
			"options": [
				{
					"value": "text-left",
					"label": "Left"
				},
				{
					"value": "text-center",
					"label": "Center"
				},
				{
					"value": "text-right",
					"label": "Right"
				}
			]
		},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Image with text overlay"
		},
		{
			"type": "richtext",
			"id": "text",
			"label": "Text",
			"default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
		},
		{
            "type": "select",
            "id": "hero_size",
            "label": "Hero height",
            "default": "medium",
            "options": [
                {
                    "label": "Extra Small",
                    "value": "x-small"
                },
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                },
                {
                    "label": "Extra Large",
                    "value": "x-large"
                }
            ]
        },
        {
            "type": "select",
            "id": "hero_size_tablet",
            "label": "Hero tablet height",
            "default": "medium",
            "options": [
                {
                    "label": "Extra Small",
                    "value": "x-small"
                },
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                },
                {
                    "label": "Extra Large",
                    "value": "x-large"
                }
            ]
        },
        {
            "type": "select",
            "id": "hero_size_mobile",
            "label": "Hero mobile height",
            "default": "medium",
            "options": [
                {
                    "label": "Extra Small",
                    "value": "x-small"
                },
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                },
                {
                    "label": "Extra Large",
                    "value": "x-large"
                }
            ]
        },
		{
			"type": "select",
			"id": "text_size",
			"label": "Text size",
			"default": "medium",
			"options": [
				{
					"label": "Medium",
					"value": "medium"
				},
				{
					"label": "Large",
					"value": "large"
				}
			]
		},
		{
			"type": "color",
			"id": "text_colour",
			"label": "Text Colour"
		},
		{
			"type": "text",
			"id": "button_label",
			"label": "Button label"
		},
		{
			"type": "url",
			"id": "button_link",
			"label": "Button link"
		},
		{
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "btn--primary",
            "options": [
                {
                    "label": "Primary Button",
                    "value": "btn--primary"
                },
                {
                    "label": "Secondary Button",
                    "value": "btn--secondary"
                }
            ]
        },
        {
            "type": "select",
            "id": "button_size",
            "label": "Button size",
            "default": "btn--large",
            "options": [
                {
                    "label": "Large Button",
                    "value": "btn--large"
                },
                {
                    "label": "Normal Button",
                    "value": "btn--medium"
                }
            ]
        }
	],
	"presets": [
		{
			"name": "Image with text overlay",
			"category": "Image"
		}
	]
}
{% endschema %}