{% if section.settings.show %}

<div {% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

    {% if section.settings.contain %}
    <div class="wrapper">
    {% endif %}

        <div class="grid grid--uniform">

            {% assign count = 0 %}

            {% for block in section.blocks %}

            {% if block.settings.column_width == "quarter" %}
            {% assign grid_item__width = "xlarge--one-quarter large--one-quarter medium--one-quarter" %}
            {% elsif block.settings.column_width == "third" %}
            {% assign grid_item__width = "xlarge--one-third large--one-third medium--one-third" %}
            {% elsif block.settings.column_width == "half" %}
            {% assign grid_item__width = "xlarge--one-half large--one-half medium--one-half" %}
            {% elsif block.settings.column_width == "whole" %}
            {% assign grid_item__width = "xlarge--one-whole large--one-whole medium--one-whole" %}
            {% elsif block.settings.column_width == "two-thirds" %}
            {% assign grid_item__width = "xlarge--two-thirds large--two-thirds medium--two-thirds" %}
            {% elsif block.settings.column_width == "three-quarters" %}
            {% assign grid_item__width = "xlarge--three-quarters large--three-quarters medium--three-quarters" %}
            {% endif %}

            {% assign count = count | plus: 1 %}

            <div class="grid__item {{ grid_item__width }}">

                <div class="image-link" id="image-link-{{ count }}">

                    {% if block.settings.image == blank %}
                    <div class="placeholder-background">
                        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                    {% endif %}

                    {% if block.settings.image_link != blank %}
                    <a href="{{ block.settings.image_link }}">
                    {% endif %}
                        
                        {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: '768x' }}" srcset="{{ block.settings.image | img_url: '1120x' }} 1120w, {{ block.settings.image | img_url: '768x' }} 768w, {{ block.settings.image | img_url: '480x' }} 480w" alt="">
                        {% endif %}

                    {% if block.settings.image_link != blank %}
                    </a>
                    {% endif %}

                    <div class="image-link__inner">

                        <div {% if block.settings.content-horizontal-alignment %} class="{{ block.settings.content-horizontal-alignment }}"{% endif %}>

                            {% if block.settings.title != blank %}
                            <h2 class="image-link__title{% if block.settings.text_size != blank %} {{ block.settings.text_size }}{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.title | escape }}</h2>
                            {% endif %}

                            {% if block.settings.sub_text != blank %}
                            <p>{{ block.settings.sub_text }}</p>
                            {% endif %}
                            
                            {% if block.settings.button_label != blank %}
                            <a href="{{ block.settings.image_link }}" class="btn {% if block.settings.button_type %}{{ block.settings.button_type }}{% endif %}">
                            {{ block.settings.button_label | escape }}
                            </a>
                            {% endif %}

                        </div>

                    </div>

                </div>
              
            </div>

            {% endfor %}

        </div>

    {% if section.settings.contain %}
    </div>
    {% endif %}

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">

    #shopify-section-{{ section.id }} > div{
        padding-top: {{ section.settings.top_spacing }}px;
        padding-bottom: {{ section.settings.bottom_spacing }}px;
        background-color: {{ section.settings.background_colour }};
        border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
        border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
    }

    {% assign count = 0 %}

    {% for block in section.blocks %}

        {% assign count = count | plus: 1 %}

    {% endfor %}

    #shopify-section-{{ section.id }} h3{
        color: {{ section.settings.title_colour }};
    }
    
</style>

{% endif %}

{% schema %}
{
    "name": "Image Links",
    "class": "image-link-container",
    "max_blocks": 6,
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show section?",
            "default": true
        },
       {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain content within wrapper?",
            "default": true,
            "info": "This will contain your content to a maximum of 1120px."
        },
        {
            "type": "text",
            "id": "top_spacing",
            "label": "Top Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "text",
            "id": "bottom_spacing",
            "label": "Bottom Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
            {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_top",
            "label": "Border Top",
            "default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_bottom",
            "label": "Border Bottom",
            "default": "#EEEEEE"
        },
        {
          "type":   "range",
          "id":     "border_thickness",
          "min":       0,
          "max":       5,
          "step":      1,
          "unit":      "px",
          "label":     "Border Thickness",
          "default":   1
        }
    ],
    "blocks": [
        {
            "type" : "image_link",
            "name" : "Image Links",
            "settings": [
                {
                    "type": "select",
                    "id": "column_width",
                    "label": "Image width",
                    "default": "quarter",
                    "options": [
                        {
                            "value": "quarter",
                            "label": "One Quarter"
                        },
                        {
                            "value": "third",
                            "label": "One Third"
                        },
                        {
                            "value": "two-thirds",
                            "label": "Two Thirds"
                        },
                        {
                            "value": "half",
                            "label": "One Half"
                        },
                        {
                            "value": "three-quarters",
                            "label": "Three Quarters"
                        },
                        {
                            "value": "whole",
                            "label": "Full Width"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Image Links"
                },
                {
                    "type": "richtext",
                    "id": "sub_text",
                    "label": "Subtext",
                    "default": "<p>Enter some extra copy here to appear beneath the title</p>"
                },
                {
                    "type": "url",
                    "id": "image_link",
                    "label": "Image link"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "content-horizontal-alignment",
                    "label": "Content Horizontal Alignment",
                    "default": "text-left",
                    "options": [
                        {
                            "value": "text-left",
                            "label": "Left"
                        },
                        {
                            "value": "text-center",
                            "label": "Center"
                        },
                        {
                            "value": "text-right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "text_size",
                    "label": "Text size",
                    "default": "h4",
                    "options": [
                        {
                            "label": "Medium",
                            "value": "h4"
                        },
                        {
                            "label": "Large",
                            "value": "h2"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "button_type",
                    "label": "Button Type",
                    "default": "btn--primary",
                    "options": [
                        {
                        "label": "Primary",
                        "value": "btn--primary"
                        },
                        {
                        "label": "Secondary",
                        "value": "btn--secondary"
                        }
                    ]
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button label"
                },
                {
                    "type": "color",
                    "id": "text_colour",
                    "label": "Text Colour"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Links",
            "category": "Image",
            "blocks": [
                { 
                    "type": "image_link"
                }
            ]
        }
    ]
}
{% endschema %}