{% assign start_sub = false %}

<ul class="mega-menu site-nav {{ settings.navigation_alignment }}" id="MegaMenu">

	{% for link in linklists.main-menu.links %}

		<li class="{% if link.active %} site-nav--active{% endif %}">

			<a class="site-nav__link" href="{{ link.url }}">{{ link.title }}</a>

			{% assign top_url = link.url %}

			{% if section.blocks.size > 0 %}

				{% assign has_children = false %}

				{% for block in section.blocks %}
					{% if block.settings.top_link == top_url %}
						{% assign has_children = true %}
					{% endif %}
				{% endfor %}

				{% if has_children %}

				<div class="mega-menu__drop">

					{% if section.settings.boxed %}
					<div class="wrapper">
					{% endif %}

						<div class="grid grid--uniform">

						{% for block in section.blocks %}

							{% if block.settings.column_width == "quarter" %}
							{% assign grid_item__width = "xlarge--one-quarter large--one-quarter medium--one-quarter small--one-half" %}
							{% elsif block.settings.column_width == "third" %}
							{% assign grid_item__width = "xlarge--one-third large--one-third medium--one-third small--one-half" %}
							{% elsif block.settings.column_width == "half" %}
							{% assign grid_item__width = "xlarge--one-half large--one-half medium--one-half small--one-half" %}
							{% elsif block.settings.column_width == "whole" %}
							{% assign grid_item__width = "xlarge--one-whole large--one-whole medium--one-whole" %}
							{% endif %}

							{% if block.settings.top_link == top_url %}

							<div class="grid__item {{ grid_item__width }} text-left">

								{% if block.type == 'navigation-menu' %}

								<p><strong>{{ block.settings.sub_menu_heading }}</strong></p>

								{% if block.settings.sub_menu != blank %}

								{% assign sub_menu = linklists[block.settings.sub_menu]  %}

								<ul>

									{% for link in sub_menu.links %}

										<li>

											<a href="{{ link.url }}">{{ link.title }}</a>

										</li>

									{% endfor %}
								
								</ul>

								{% endif %}

								{% else %}

									<div class="{{ block.settings.image_alignment }}">

										{% if block.settings.menu_image_link != blank %}
										<a href="{{ block.settings.menu_image_link }}">
										{% endif %}

										{% if block.settings.menu_image != blank %}
					                        <img src="{{ block.settings.menu_image | img_url: '768x' }}" alt="">
										{% endif %}

										{% if block.settings.menu_image_link != blank %}
										</a>
										{% endif %}

									</div>


								{% endif %}

							</div>

							{% endif %}

						{% endfor %}

						<!-- GRID -->
						</div>

					{% if section.settings.boxed %}
					<!-- /WRAPPER -->
					</div>
					{% endif %}
					
				<!-- /Mega Menu -->
				</div>

				{% endif %}

			{% endif %}

		</li>

	{% endfor %}

</ul>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

{% schema %}
 {
	"name": "Mega Menu",
	"class": "mega-menu",
	"settings": [
		{
			"type": "checkbox",
			"id": "boxed",
			"label": "Boxed layout?",
			"info": "Should the Mega Menu be boxed?"
		},
		{
			"type": "text",
			"id": "top_spacing",
			"label": "Top Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
		},
		{
			"type": "text",
			"id": "bottom_spacing",
			"label": "Bottom Spacing (in pixels)",
			"default": "20",
			"info": "Do not add units of measurement. E.g. px."
		},
		{
			"type": "color",
			"id": "background_colour",
			"label": "Background Colour",
			"default": "#EEEEEE"
		},
		{
			"type": "color",
			"id": "border_bottom",
			"label": "Border Bottom",
			"default": "#EEEEEE"
		},
		{
			"type":   "range",
			"id":     "border_thickness",
			"min":       0,
			"max":       5,
			"step":      1,
			"unit":      "px",
			"label":     "Border Thickness",
			"default":   1
      	},
      	{
		  "type": "header",
		  "content": "Font Styles"
		},
      	{
			"type": "color",
			"id": "sub_menu_title_color",
			"label": "Sub Menu Title Colour",
			"default": "#002857"
		},
		{
			"type":   "range",
			"id":     "sub_menu_title_font_size",
			"min":       10,
			"max":       20,
			"step":      1,
			"unit":      "px",
			"label":     "Sub Menu Title Font Size",
			"default":   10
      	},
		{
			"type": "color",
			"id": "sub_menu_link_color",
			"label": "Sub Menu Link Colour",
			"default": "#000000"
		},
		{
			"type": "color",
			"id": "sub_menu_link_color_active_hover",
			"label": "Sub Menu Link Colour - Active and Hover State",
			"default": "#002857"
		},
		{
			"type":   "range",
			"id":     "sub_menu_link_font_size",
			"min":       10,
			"max":       20,
			"step":      1,
			"unit":      "px",
			"label":     "Sub Menu Link Font Size",
			"default":   10
      	}
	],
	"blocks": [
		{
			"type": "navigation-menu",
			"name": "Navigation Menu",
			"settings": [
				{
					"type": "url",
					"id": "top_link",
					"label": "Parent Link"
				},
				{
					"type": "text",
					"id": "sub_menu_heading",
					"label": "Sub Menu Heading"
				},
				{
					"type": "link_list",
					"id": "sub_menu",
					"label": "Sub Menu"
				},
				{
					"type": "select",
					"id": "column_width",
					"label": "Menus per Row",
					"default": "quarter",
					"options": [
						{
							"value": "quarter",
							"label": "One Quarter"
						},
						{
							"value": "third",
							"label": "One Third"
						},
						{
							"value": "half",
							"label": "One Half"
						},
						{
							"value": "whole",
							"label": "Full Width"
						}
					]
				}
			]
		},
		{
			"type": "menu-image",
			"name": "Menu Image",
			"settings": [
				{
					"type": "url",
					"id": "top_link",
					"label": "Parent Link"
				},
				{
					"type": "image_picker",
					"id": "menu_image",
					"label": "Image"
				},
				{
					"type": "url",
					"id": "menu_image_link",
					"label": "Image Link"
				},
				{
					"type": "select",
					"id": "image_alignment",
					"label": "Image Alignment",
					"default": "text--left",
					"options": [
						{
							"value": "text--left",
							"label": "Left"
						},
						{
							"value": "text--right",
							"label": "Right"
						},
						{
							"value": "text--center",
							"label": "Center"
						}
					]
				},
				{
					"type": "select",
					"id": "column_width",
					"label": "Menus per Row",
					"default": "quarter",
					"options": [
						{
							"value": "quarter",
							"label": "One Quarter"
						},
						{
							"value": "third",
							"label": "One Third"
						},
						{
							"value": "half",
							"label": "One Half"
						},
						{
							"value": "whole",
							"label": "Full Width"
						}
					]
				}
			]
		}
	],
	"presets": [
		{
		  "name": "Navigation Menu",
		  "category": "navigation-menu"
		}
  	]
}
{% endschema %}

<style style="text/css">
  	#shopify-section-mega-menu .mega-menu__drop{
	    padding-top: {{ section.settings.top_spacing }}px;
		padding-bottom: {{ section.settings.bottom_spacing }}px;
		background-color: {{ section.settings.background_colour }};
		border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
 	}

	#shopify-section-{{ section.id }} h3{
		color: {{ section.settings.title_colour }};
	}

	#shopify-section-{{ section.id }} .mega-menu__drop p{
		color: {{ section.settings.sub_menu_title_color }};
		font-size: {{ section.settings.sub_menu_title_font_size }}px;
	}

	#shopify-section-{{ section.id }} .mega-menu__drop ul li > a{
		color: {{ section.settings.sub_menu_link_color }};
		font-size: {{ section.settings.sub_menu_link_font_size }}px;
	}

	#shopify-section-{{ section.id }} .mega-menu__drop ul li > a:hover{
		color: {{ section.settings.sub_menu_link_color_active_hover }};;
	}
 	
</style>