<div {% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

	{% if section.settings.contain %}
	<div class="wrapper">
	{% endif %}

		<div class="grid">

			{% if section.settings.title != blank  %}
				<div class="grid__item large--one-half">
					<h3 class="large--text-right text-center">{{ section.settings.title }}</h3>
				</div>

				<div class="grid__item large--one-half">
			{% else %}
				<div class="grid__item">
			{% endif %}

				{% if section.settings.max_width != blank %}
				<div style="max-width: {{ section.settings.max_width }}">
				{% endif %}

				{% if settings.newsletter_form_action != blank %}
				  <form action="{{ settings.newsletter_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="input-group">
				    <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
				    <span class="input-group-btn">
				      <input type="submit" class="btn" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
				    </span>
				  </form>
				{% else %}
				  {% form 'customer' %}
				    {{ form.errors | default_errors }}
				    {% if form.posted_successfully? %}
				      <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
				    {% else %}
				      <div class="input-group">
				        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
				        <input type="hidden" name="contact[tags]" value="newsletter">
				        <span class="input-group-btn">
				          <input type="submit" class="btn btn--tertiary" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
				        </span>
				      </div>
				    {% endif %}
				  {% endform %}
				{% endif %}

				{% if section.settings.max_width != blank %}
				</div>
				{% endif %}

			</div>

		</div>
	
	{% if section.settings.contain %}
	</div>
	{% endif %}

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">
  	#shopify-section-{{ section.id }} > div{
	    padding-top: {{ section.settings.top_spacing }}px;
		padding-bottom: {{ section.settings.bottom_spacing }}px;
		background-color: {{ section.settings.background_colour }};
		border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
		border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
 	}

	#shopify-section-{{ section.id }} h3{
		color: {{ section.settings.title_colour }};
	}
 	
</style>

{% schema %}
 {
	"name": "Newsletter",
	"class": "newsletter-block",
	"settings": [
		{
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
		{
          "type": "checkbox",
          "id": "contain",
          "label": "Contain content within wrapper?",
          "default": true,
          "info": "This will contain your content to a maximum of 1120px."
        },
		{
		  "type": "text",
		  "id": "top_spacing",
		  "label": "Top Spacing (in pixels)",
		  "default": "20",
		  "info": "Do not add units of measurement. E.g. px."
		},
		{
		  "type": "text",
		  "id": "bottom_spacing",
		  "label": "Bottom Spacing (in pixels)",
		  "default": "20",
		  "info": "Do not add units of measurement. E.g. px."
		},
		{
			"type": "color",
			"id": "background_colour",
			"label": "Background Colour",
			"default": "#EEEEEE"
		},
		{
			"type": "color",
			"id": "border_top",
			"label": "Border Top",
			"default": "#EEEEEE"
		},
		{
			"type": "color",
			"id": "border_bottom",
			"label": "Border Bottom",
			"default": "#EEEEEE"
		},
		{
          "type":   "range",
          "id":     "border_thickness",
          "min":       0,
          "max":       5,
          "step":      1,
          "unit":      "px",
          "label":     "Border Thickness",
          "default":   1
      	},
		{
			"type": "text",
			"id": "title",
			"label": "Heading",
			"default": "Newsletter Block"
		},
		{
			"type": "color",
			"id": "title_colour",
			"label": "Title Colour",
			"default": "#002857"
		},
		{
			"type": "richtext",
			"id": "subtext",
			"label": "Sub Text",
			"default": "<p>Sign up to our mailing list for the latest offers</p>"
		},
		{
			"type": "text",
			"id": "max_width",
			"label": "Max Width",
			"default": "500px"
		}
	],
	"presets": [
		{
		  "name": "Newsletter Block",
		  "category": "Newsletter"
		}
  	]
}
{% endschema %}