{% if section.settings.show %}

<div class="top-bar">

	<div class="wrapper">

		<div class="text-center">

			{% if section.settings.promo_bar_link != blank %}
			<a href="{{ settings.promo_bar_link }}">
			{% endif %}
			
			{{ section.settings.promo_bar_text }}

			{% if section.settings.promo_bar_link != blank %}
			</a>
			{% endif %}

		</div>
		
	</div>
	
</div>

<style style="text/css">
	#shopify-section-{{ section.id }} .top-bar{
		font-size: {{ section.settings.font_size }}px;
		background-color: {{ section.settings.background }};
		color: {{ section.settings.font_colour }};
	} 
</style>

{% endif %}

{% schema %}
{
    "name": "Promo Bar",
    "class": "promo-bar",
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show section?",
            "default": true
        },
        {
			"type": "text",
			"id": "promo_bar_text",
			"label": "Top bar Content"
		},
		{
			"type": "url",
			"id": "promo_bar_link",
			"label": "Top bar Link"
		},
        {
            "type": "range",
            "id": "font_size",
            "min": 8,
            "max": 22,
            "step": 1,
            "unit": "px",
            "label": "Font Size",
            "default": 12
        },
        {
            "type": "color",
            "id": "background",
            "label": "Background Colour",
            "default": "#009cde"
        },
        {
            "type": "color",
            "id": "font_colour",
            "label": "Font Colour",
            "default": "#009cde"
        }
    ],
    "presets": [
        {
            "name": "Promo Bar",
            "category": "Layout"
        }
    ]
}
{% endschema %}