{% if section.settings.show %}

{% if section.settings.columns == "4" %}
{% assign grid_item__width = "xlarge--one-quarter large--one-quarter medium--one-quarter small--one-half" %}
{% elsif section.settings.columns == "3" %}
{% assign grid_item__width = "xlarge--one-third large--one-third medium--one-third small--one-half" %}
{% elsif section.settings.columns == "2" %}
{% assign grid_item__width = "xlarge--one-half large--one-half medium--one-half small--one-half" %}
{% elsif section.settings.columns == "1" %}
{% assign grid_item__width = "xlarge--one-whole large--one-whole medium--one-whole" %}
{% endif %}

<div {% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

    {% if section.settings.contain %}
    <div class="wrapper">
    {% endif %}

    {% if section.settings.title != ""  %}

      <div class="grid">
        
      </div>

    {% endif %}

    <div id="recently-viewed-products" class="grid grid-equal" style="display:none">

        <div class="grid__item one--whole">
          <div class="{{ section.settings.heading-alignment }}">
            <h2>{{ section.settings.title }}</h2>
          </div>
        </div>
      
    </div>

    {% raw %}
    <script id="recently-viewed-product-template" type="text/x-jquery-tmpl">
    <div class="grid__item {% endraw %}{{ grid_item__width }}{% raw %} product-grid-item" id="product-${handle}" >

        <div class="product-grid-item__image">
            {{if compare_at_price > price}}
                <div class="product-sticker product-sticker--sale">
                  On Sale
                </div>
            {{/if}}
            {{if !available }}
                <div class="product-sticker product-sticker--sold-out">
                  On Sale
                </div>
            {{/if}}
            <a href="${url}">
                <img class="image__first" src="${Shopify.Products.resizeImage(featured_image, "large")}" />
            </a>
        </div>

        <p class="h6 product-grid-item__title">
            <a href="${url}">${title}</a>
        </p>
 
        <p class="product-grid-item__price">

            {{if compare_at_price > price}}
            Was <s>{{html Shopify.formatMoney(compare_at_price)}}</s><br/>
            {{/if}}

            {{if compare_at_price > price}}

                <span class="product-grid-item__sale">
                
                    {{if price_varies}}
                        <span class="sale-price">Now from {{html Shopify.formatMoney(price)}}</span>
                    {{else}}
                        <span class="sale-price">Now {{html Shopify.formatMoney(price)}}</span>
                    {{/if}}

                </span>

            {{else}}

                {{if price_varies}}
                    From {{html Shopify.formatMoney(price)}}
                {{else}}
                    {{html Shopify.formatMoney(price)}}
                {{/if}}

            {{/if}}

            {{if !available}}
            <br><strong>Sold Out</strong>
            {{/if}}

        </p>

        <a href="${url}" class="btn btn--primary btn--full">Buy Now</a>

    </div>
    </script>
    {% endraw %}

  </div>

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">

    #shopify-section-{{ section.id }} > div{
        padding-top: {{ section.settings.top_spacing }}px;
        padding-bottom: {{ section.settings.bottom_spacing }}px;
        background-color: {{ section.settings.background_colour }};
        border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
        border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
    }

    #shopify-section-{{ section.id }} h2{
        font-size: {{ section.settings.title_font_size }}px;
        color: {{ section.settings.title_colour }};
    }
    
</style>

<script type="text/javascript">
Shopify.money_format = "{{ shop.money_format }}";
Shopify.Products.showRecentlyViewed({
  howManyToShow:4,
  wrapperId: 'recently-viewed-products'
});
</script>

{% endif %}

{% schema %}
 {
  "name": "Recently Viewed",
  "class": "product-block",
  "settings": [
    {
        "type": "checkbox",
        "id": "show",
        "label": "Show section?",
        "default": true
    },
    {
        "type": "select",
        "id": "section_layout",
        "label": "Section Layout?",
        "default": "full-width",
        "info": "This will bleed the section to the full width of the screen.",
        "options": [
            {
                "value": "full-width",
                "label": "Full Width with padding"
            },
            {
                "value": "full-width full-width--no-padding",
                "label": "Full Width no padding"
            },
            {
                "value": "boxed",
                "label": "Boxed"
            }
        ]
    },
    {
        "type": "checkbox",
        "id": "contain",
        "label": "Contain content within wrapper?",
        "default": true,
        "info": "This will contain your content to a maximum of 1120px."
    },
    {
        "type": "text",
        "id": "top_spacing",
        "label": "Top Spacing (in pixels)",
        "default": "20",
        "info": "Do not add units of measurement. E.g. px."
    },
    {
        "type": "text",
        "id": "bottom_spacing",
        "label": "Bottom Spacing (in pixels)",
        "default": "20",
        "info": "Do not add units of measurement. E.g. px."
    },
    {
        "type": "color",
        "id": "background_colour",
        "label": "Background Colour",
        "default": "#EEEEEE"
    },
    {
        "type": "color",
        "id": "border_top",
        "label": "Border Top",
        "default": "#EEEEEE"
    },
    {
        "type": "color",
        "id": "border_bottom",
        "label": "Border Bottom",
        "default": "#EEEEEE"
    },
    {
      "type":   "range",
      "id":     "border_thickness",
      "min":       0,
      "max":       5,
      "step":      1,
      "unit":      "px",
      "label":     "Border Thickness",
      "default":   1
    },
    {
        "type": "select",
        "id": "columns",
        "label": "Products per Row",
        "default": "4",
        "options": [
            {
                "value": "4",
                "label": "4"
            },
            {
                "value": "3",
                "label": "3"
            },
            {
                "value": "2",
                "label": "2"
            },
            {
                "value": "1",
                "label": "1"
            }
        ]
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Recently Viewed"
    },
    {
        "type": "select",
        "id": "heading-alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
            {
                "value": "text-left",
                "label": "Left"
            },
            {
                "value": "text-center",
                "label": "Center"
            },
            {
                "value": "text-right",
                "label": "Right"
            }
        ]
    },
    {
        "type":   "range",
        "id":     "title_font_size",
        "min":       10,
        "max":       28,
        "step":      1,
        "unit":      "px",
        "label":     "Title Font Size",
        "default":   11
    },
    {
        "type": "color",
        "id": "title_colour",
        "label": "Title Colour",
        "default": "#002857"
    }
  ],
  "presets": [
        {
            "name": "Recently Viewed",
            "category": "Products"
        }
    ]
}
{% endschema %}