{% if section.settings.show %}

	{% if section.settings.columns == "4" %}
	{% assign grid_item__width = "xlarge--one-quarter large--one-quarter medium--one-quarter small--one-half" %}
	{% elsif section.settings.columns == "3" %}
	{% assign grid_item__width = "xlarge--one-third large--one-third medium--one-third small--one-half" %}
	{% elsif section.settings.columns == "2" %}
	{% assign grid_item__width = "xlarge--one-half large--one-half medium--one-half small--one-half" %}
	{% elsif section.settings.columns == "1" %}
	{% assign grid_item__width = "xlarge--one-whole large--one-whole medium--one-whole" %}
	{% endif %}

	{% comment %}
	  Number of related items per row,
	  and number of rows.
	{% endcomment %}

	{% assign number_of_related_products_per_row = section.settings.related_grid_num %}
	{% assign number_of_rows = section.settings.related_grid_row %}

	{% comment %}
	  Heading.
	  Leave blank if you don't need one.
	{% endcomment %}

	{% assign heading = section.settings.related_title %}

	{% comment %}
	  Set either or both to true, if you want
	  to limit yourself to items with same vendor, and/or type.
	{% endcomment %}

	{% assign same_vendor = false %}
	{% assign same_type = true %}

	{% comment %}
	  Collections to ignore.
	  Never pick related items from those.
	{% endcomment %}

	{% assign exclusions = 'frontpage,all' | split: ',' %}

	{% comment %}
	  Looking for a relevant collection.
	{% endcomment %}

	{% if product.metafields.c_f['Related Products'] %}
	  {% assign collection = collections[product.metafields.c_f['Related Products']] %}
	{% endif %}

	{% assign found_a_collection = false %}
	{% if collection and collection.all_products_count > 1 %}
	  {% unless exclusions contains collection.handle %}
	    {% assign found_a_collection = true %}
	  {% endunless %}
	{% endif %}
	{% unless found_a_collection %}
	  {% for c in product.collections %}
	    {% unless exclusions contains c.handle or c.all_products_count < 2 %}
	      {% assign found_a_collection = true %}
	      {% assign collection = c %}
	      {% break %}
	    {% endunless %}
	  {% endfor %}
	{% endunless %}

	{% comment %}
	  If we have a relevant collection.
	{% endcomment %}

	{% if found_a_collection %}

		{% assign counter = 0 %}
		{% assign break_at = number_of_rows | times: number_of_related_products_per_row %}
		{% assign current_product = product %}

		{% capture related_items %}
			{% for product in collection.products %}
				{% unless product.handle == current_product.handle %}
					{% unless same_vendor and current_product.vendor != product.vendor %}
						{% unless same_type and current_product.type != product.type %}
							{% include 'product-grid-item', grid_item_width:grid_item__width %}
							{% assign counter = counter | plus: 1 %}
							{% if counter == break_at %}
								{% break %}
							{% endif %}
						{% endunless %}
					{% endunless %}
				{% endunless %}
			{% endfor %}
		{% endcapture %}

		{% assign related_items = related_items | trim %}

	  	{% unless related_items == blank %}

	  		<div {% if section.settings.section_layout %} class="{{ section.settings.section_layout }}" {% endif %}>

				{% if section.settings.contain %}
				<div class="wrapper">
				{% endif %}

					<div class="grid">

						<div class="grid__item">
							<h3 class="related-products__title {{ section.settings.heading-alignment}}">{{ section.settings.title }}</h3>
						</div>

					</div>

					<div class="grid grid-equal">
			        	{{ related_items }}
			      	</div>
				
				{% if section.settings.contain %}
				</div>
				{% endif %}

			</div>

		{% endunless %}
	     
	{% endif %}

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">
  	#shopify-section-{{ section.id }} > div{
	    padding-top: {{ section.settings.top_spacing }}px;
		padding-bottom: {{ section.settings.bottom_spacing }}px;
		background-color: {{ section.settings.background_colour }};
		border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
		border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
 	}

	#shopify-section-{{ section.id }} .related-products__title{
		color: {{ section.settings.title_colour }};
		font-size: {{ section.settings.title_font_size }}px;
	}
 	
</style>

{% endif %}

{% schema %}
{
	"name": "Related Products",
	"class": "related-products-block",
	"settings": [
		{
	        "type": "checkbox",
	        "id": "show",
	        "label": "Show section?",
	        "default": true
	    },
	    {
	        "type": "select",
	        "id": "section_layout",
	        "label": "Section Layout?",
	        "default": "full-width",
	        "info": "This will bleed the section to the full width of the screen.",
	        "options": [
	            {
	                "value": "full-width",
	                "label": "Full Width with padding"
	            },
	            {
	                "value": "full-width full-width--no-padding",
	                "label": "Full Width no padding"
	            },
	            {
	                "value": "boxed",
	                "label": "Boxed"
	            }
	        ]
	    },
	    {
	        "type": "checkbox",
	        "id": "contain",
	        "label": "Contain content within wrapper?",
	        "default": true,
	        "info": "This will contain your content to a maximum of 1120px."
	    },
	    {
	        "type": "text",
	        "id": "top_spacing",
	        "label": "Top Spacing (in pixels)",
	        "default": "20",
	        "info": "Do not add units of measurement. E.g. px."
	    },
	    {
	        "type": "text",
	        "id": "bottom_spacing",
	        "label": "Bottom Spacing (in pixels)",
	        "default": "20",
	        "info": "Do not add units of measurement. E.g. px."
	    },
	    {
			"type": "color",
			"id": "border_top",
			"label": "Border Top",
			"default": "#EEEEEE"
		},
		{
			"type": "color",
			"id": "border_bottom",
			"label": "Border Bottom",
			"default": "#EEEEEE"
		},
		{
          "type":   "range",
          "id":     "border_thickness",
          "min":       0,
          "max":       5,
          "step":      1,
          "unit":      "px",
          "label":     "Border Thickness",
          "default":   1
      	},
	    {
	        "type": "select",
	        "id": "columns",
	        "label": "Products per Row",
	        "default": "4",
	        "options": [
	            {
	                "value": "4",
	                "label": "4"
	            },
	            {
	                "value": "3",
	                "label": "3"
	            },
	            {
	                "value": "2",
	                "label": "2"
	            },
	            {
	                "value": "1",
	                "label": "1"
	            }
	        ]
	    },
	    {
	      "type": "header",
	      "content": "Heading"
	    },
	    {
	      "type": "text",
	      "id": "title",
	      "label": "Heading",
	      "default": "Recently Viewed"
	    },
	    {
	        "type": "select",
	        "id": "heading-alignment",
	        "label": "Heading alignment",
	        "default": "text-left",
	        "options": [
	            {
	                "value": "text-left",
	                "label": "Left"
	            },
	            {
	                "value": "text-center",
	                "label": "Center"
	            },
	            {
	                "value": "text-right",
	                "label": "Right"
	            }
	        ]
	    },
	    {
          "type":   "range",
          "id":     "title_font_size",
          "min":       10,
          "max":       28,
          "step":      1,
          "unit":      "px",
          "label":     "Title Font Size",
          "default":   11
      	},
		{
			"type": "color",
			"id": "title_colour",
			"label": "Title Colour",
			"default": "#002857"
		}
	],
	"presets": [
		{
		  "name": "Related Products",
		  "category": "Products"
		}
  	]
}
{% endschema %}