<div class="site-header">
  <div class="wrapper">
    <div class="grid--full grid--table">
      <div class="grid__item xlarge--hide large--hide medium-down--one-quarter">
        <button type="button" class="icon-fallback-text large--hide js-drawer-open-left" aria-controls="NavDrawer" aria-expanded="false">
          <span class="icon icon-hamburger" aria-hidden="true"></span>
          <span class="fallback-text">{{ 'layout.navigation.menu' | t }}</span>
        </button>
      </div>
      <div class="grid__item xlarge--one-third large--one-third medium-down--one-half">
        {% comment %}
          Use the uploaded logo from theme settings if enabled.
          Site name gets precedence with H1 tag on homepage, div on other pages.
        {% endcomment %}
        <div class="h1 site-header__logo xlarge--left large--left" itemscope itemtype="http://schema.org/Organization">
          {% if section.settings.logo_use_image %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{ section.settings.logo | img_url }}" alt="{{ shop.name }}" itemprop="logo">
            </a>
          {% else %}
            <a href="/" itemprop="url">{{ shop.name }}</a>
          {% endif %}
        </div>
      </div>
      <div class="grid__item xlarge--one-third large--one-third medium-down--hide">
        {% include 'search-bar' %}
      </div>
      <div class="grid__item xlarge--one-third large--one-third large--text-right medium-down--one-quarter">
        {% comment %}
          Show number of items in the cart and total cost in the /cart link

          Ajax Cart Notes:
            - #cartCount updates the total number of items in the cart
            - #cartCost updates the total cost of the cart
            - Documentation:  http://shopify.com/timber#ajax-cart
        {% endcomment %}
        <div class="clearfix">
          <ul class="inline-list no-bullets quicklinks text-right">
            <li class="medium-down--hide">
              {% include 'currency-picker' %}
            </li>
            {% if shop.customer_accounts_enabled %}
              <li class="quick-account-toggle medium-down--hide">
                <i class="fal fa-user"></i>
                <i class="fal fa-chevron-down"></i>
                <div class="quick-account">
                  {% if customer %}
                    {% if customer.first_name != blank %}
                      <p>{{ 'layout.customer.logged_in_as_html' | t: first_name: customer.first_name }}</p>
                    {% else %}
                      <p>{{ 'layout.customer.logged_in_as_html' | t: first_name: "again" }}</p>
                    {% endif %}
                    <p><a href="/account">{{ 'layout.customer.account' | t }}</a></p>
                    <p>
                      <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
                    </p>
                    <p>{{ 'layout.customer.log_out' | t | customer_logout_link }}</p>
                  {% else %}
                    <p>Hello, Guest.</p>
                    <p>{{ 'layout.customer.log_in' | t | customer_login_link }}</p>
                    <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>
                  {% endif %}
                </div>
              </li>
            {% endif %}
            <li class="quick-cart-toggle">
              <!-- QUICK CART -->
              <a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
                <i class="fal fa-shopping-cart"></i>
                (<span id="CartCount">{{ cart.item_count }}</span>)
              </a>
              {% if section.settings.use_quick_cart %}
              <div class="quick-cart small--hide">
                {% if cart.item_count > 0 %}
                  {% for product in cart.items %}
                  {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
                    <div class="quick-cart__item clearfix">
                      <a href="{{ product.url }}">
                      <img src="{{ product | img_url: '75x75' }}" alt="{{ product.title | escape }}">
                      </a>
                      <div class="item__content text-left">
                        <p>{{ product.title }}</p>
                        <p>{{ product.price | money }}</p>
                        <p>QTY: {{ product.quantity }}</p>
                        <p class="item__remove" data-product-id="{{ product.id }}"><small>Remove</small></p>
                      </div>  
                    </div>
                  {% endfor %}
                {% endif %}
                <p {% if cart.item_count > 0 %}style="display: none"{% endif %} id="NoCartItemsNotice" class="text-left">You have no items in your cart.</p>
                <a id="QuckCartGoToCart" href="/cart" class="btn btn--full btn--primary"><i class="fal fa-shopping-cart"></i> Cart - <span id="CartCost">{{ cart.total_price | money }}</span></a>
              </div>
              {% endif %}
            <!-- /QUICK CART -->
            </li>
          </ul>
        </div>
      <!-- /grid__item -->
      </div>
    <!-- /grid -->
    </div>
  <!-- /wrapper -->
  </div>
</div>

{% schema %}
{
    "name": "Header",
    "class": "site-header",
    "settings": [
        {
            "type": "checkbox",
            "id": "logo_use_image",
            "label": "Use custom logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo",
            "info": "450 x 200px .png"
        },
        {
            "type": "text",
            "id": "logo_max_width",
            "label": "Max logo width",
            "default": "450",
            "info": "Defined in pixels. Do not add the 'px' unit."
        },
        {
            "type": "checkbox",
            "id": "use_quick_cart",
            "label": "Use Quick Cart?",
            "info": "The quick cart is the cart dropdown that appears below the cart total on Desktop"
        }
    ],
    "presets": [
        {
            "name": "Header",
            "category": "Layout"
        }
    ]
}
{% endschema %}