<nav class="nav-bar medium-down--hide" role="navigation">
  <div class="wrapper">
    {% if section.settings.use_mega_nav %}
      {% section 'mega-menu' %}
    {% else %}
    <div class="medium-down--hide">
      {% comment %}
        List out your main-menu linklist (default)

        More info on linklists:
          - http://docs.shopify.com/themes/liquid-variables/linklists
      {% endcomment %}
      <!-- begin site-nav -->
      <ul class="site-nav {{ section.settings.navigation_alignment }}" id="AccessibleNav">
        {% for link in linklists.main-menu.links %}
          {% comment %}
            Create a dropdown menu by naming a linklist the same as a link in the parent nav

            More info on dropdowns:
              - http://docs.shopify.com/manual/your-website/navigation/create-drop-down-menu
          {% endcomment %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <li class="site-nav--has-dropdown{% if link.active %} site-nav--active{% endif %}" aria-haspopup="true">
              <a href="{{ link.url }}" class="site-nav__link">
                {{ link.title }}
                <span class="icon icon-arrow-down" aria-hidden="true"></span>
              </a>
              <ul class="site-nav__dropdown">
                {% for childlink in linklists[child_list_handle].links %}
                  <li{% if childlink.active %} class="site-nav--active"{% endif %}>
                    <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li {% if link.active %}class="site-nav--active"{% endif %}>
              <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
            </li>
          {% endif %}
        {% endfor %}  
      </ul>
      <!-- //site-nav -->
    </div>
    {% endif %}
  </div>
</nav>

{% schema %}
{
    "name": "Navigation",
    "class": "site-nav",
    "settings": [
        {
            "type": "checkbox",
            "id": "use_mega_nav",
            "label": "Use Mega Nav?"
        },
        
        {
            "type": "select",
            "id": "navigation_alignment",
            "label": "Navigation Alignment",
            "default": "text-left",
            "options": [
                {
                    "value": "text-left",
                    "label": "Left"
                },
                {
                    "value": "text-right",
                    "label": "Right"
                },
                {
                    "value": "text-center",
                    "label": "Center"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Navigation",
            "category": "Layout"
        }
    ]
}
{% endschema %}