{% if section.settings.show %}

<div class="{{ section.settings.section_layout }}">

    {% if section.settings.contain %}
    <div class="wrapper">
    {% endif %}

        <div class="grid grid--full">

            <div class="grid__item">
        
                <div class="slideshow cycle-slideshow slideshow--{{ section.settings.slideshow_size }} slideshow--tablet--{{ section.settings.slideshow_size_tablet }} slideshow--mobile--{{ section.settings.slideshow_size_mobile }}" data-cycle-slides=".slide" {% if section.settings.slide_delay != blank %} data-cycle-delay="{{ section.settings.slide_delay }}"{% endif %} {% if section.settings.slide_animation != blank %} data-cycle-fx="{{ section.settings.slide_animation }}"{% endif %} data-cycle-pager-template="<span><a href=#></a></span>" data-cycle-pager="#SlideshowPager-{{ section.id }}">

                    {% if section.settings.show_paging_dots %}
                    <!-- empty element for pager links -->
                    <div class="cycle-pager text-center"></div>
                    {% endif %}

                    {% for block in section.blocks %}

                    <div class="slide {% if section.settings.slide_mobile_resize %}slide--mobile {% endif %} slide-{{ forloop.index }}">

                        <div class="slide__position">

                            <div class="slide__content">

                                {% if block.settings.slide_link != blank %}
                                <a href="{{ block.settings.slide_link }}">
                                {% endif %}

                                <div class="hero {% if block.settings.title != blank or block.settings.text != blank or block.settings.button_label != blank %} hero__overlay{% endif %}" style="background-position: {{ block.settings.image_horz_alignment }} {{ block.settings.image_vert_alignment }};">
                                  {% if block.settings.image == blank %}
                                    <div class="placeholder-background">
                                      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                                    </div>
                                  {% endif %}

                                  <div class="hero__overlay">

                                        <div class="hero__inner">

                                            <div class="hero__content {% if block.settings.content-vertical-alignment %}{{ block.settings.content-vertical-alignment }}{% endif %} {% if block.settings.content-horizontal-alignment %}{{ block.settings.content-horizontal-alignment }}{% endif %}">
                                            <div class="content__box">
                                              {% if block.settings.title != blank %}
                                                <h2 class="h1 mega-title{% if block.settings.text_size == 'large' %} mega-title--large{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.title | escape }}</h2>
                                              {% endif %}
                                              {% if block.settings.text != blank %}
                                                <div class="rte-setting mega-subtitle{% if block.settings.text_size == 'large' %} mega-subtitle--large{% endif %}"{% if block.settings.text_colour %} style="color: {{ block.settings.text_colour }}"{% endif %}>{{ block.settings.text }}</div>
                                              {% endif %}
                                              {% if block.settings.button_label != blank and block.settings.slide_link != blank %}
                                                <button class="btn {{ block.settings.button_style }} {{ block.settings.button_size }} hero__btn">
                                                  {{ block.settings.button_label | escape }}
                                                </button>
                                              {% endif %}
                                            </div>
                                            </div>

                                        </div>
                                  </div>
                                </div>

                                {% if block.settings.slide_link != blank %}
                                </a>
                                {% endif %}

                            </div>

                        </div>

                    </div>

                    {% endfor %}

                </div>

            </div>

            <div class="grid__item">
                <div id="SlideshowPager-{{ section.id }}" class="cycle-pager"></div>
            </div>

        </div>

    {% if section.settings.contain %}
    </div>
    {% endif %}

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">

    #shopify-section-{{ section.id }} > div{
        padding-top: {{ section.settings.top_spacing }}px;
        padding-bottom: {{ section.settings.bottom_spacing }}px;
        background-color: {{ section.settings.background_colour }};
        border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
        border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
    }

    {% for block in section.blocks %}

    {% capture background_color %}{{ block.settings.content_background_colour }}99{% endcapture %}
    {% if block.settings.content_background_colour %}
    #shopify-section-{{ section.id }} .slide-{{ forloop.index }} .hero .hero__content .content__box{background-color: {{ background_color | color_to_rgb }};}
    {% endif %}

    #shopify-section-{{ section.id }} .slide-{{ forloop.index }} .hero{
        background-image: url( "{{ block.settings.image | img_url: '480x', format: 'pjpg' }}" );
    }    

    @media
    only screen and (-webkit-min-device-pixel-ratio: 2)      and (max-width: 4800px),
    only screen and (   min--moz-device-pixel-ratio: 2)      and (max-width: 4800px),
    only screen and (     -o-min-device-pixel-ratio: 2/1)    and (max-width: 4800px),
    only screen and (        min-device-pixel-ratio: 2)      and (max-width: 4800px),
    only screen and (                min-resolution: 192dpi) and (max-width: 4800px),
    only screen and (                min-resolution: 2dppx)  and (max-width: 4800px) { 

        #shopify-section-{{ section.id }} .slide-{{ forloop.index }} .hero{
            background-image: url( "{{ block.settings.image | img_url: '960x', format: 'pjpg' }}" );
        }
    }

    @media only screen and ( min-width: 481px ) and ( max-width: 768px ){

        #shopify-section-{{ section.id }} .slide-{{ forloop.index }} .hero{
            background-image: url( "{{ block.settings.image | img_url: '768x', format: 'pjpg' }}" );
        }
    }

    @media only screen and ( min-width: 769px ) and (max-width: 1200px){
        
        #shopify-section-{{ section.id }} .slide-{{ forloop.index }} .hero{
            background-image: url( "{{ block.settings.image | img_url: '1120x', format: 'pjpg' }}" );
        }
    }

    @media only screen and ( min-width: 1201px ){
        
        #shopify-section-{{ section.id }} .slide-{{ forloop.index }} .hero{
            background-image: url( "{{ block.settings.image | img_url: '1400x', format: 'pjpg' }}" );
        }
    }

    {% endfor %}

</style>

{% endif %}

{% schema %}
{
    "name": "Slideshow",
    "class": "slideshow",
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show section?",
            "default": true
        },
        {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
          "type": "checkbox",
          "id": "contain",
          "label": "Contain content within wrapper?",
          "default": true,
          "info": "This will contain your content to a maximum of 1120px."
        },
        {
          "type": "text",
          "id": "top_spacing",
          "label": "Top Spacing (in pixels)",
          "default": "20",
          "info": "Do not add units of measurement. E.g. px."
        },
        {
          "type": "text",
          "id": "bottom_spacing",
          "label": "Bottom Spacing (in pixels)",
          "default": "20",
          "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "checkbox",
            "id": "show_paging_dots",
            "label": "Show paging dots",
            "default": true
        },
        {
            "type": "text",
            "id": "slide_delay",
            "label": "Slide Delay",
            "default": "5000",
            "info": "How many seconds (in miliseconds) pass before the slide transitions. E.g. 1 second equals 1000."
        },
        {
            "type": "select",
            "id": "slide_animation",
            "label": "Slide Transition Animation",
            "default": "fade",
            "options": [
                {
                    "value": "fade",
                    "label": "Fade"
                },
                {
                    "value": "fadeout",
                    "label": "Fadeout"
                },
                {
                    "value": "scrollHorz",
                    "label": "Scroll Horizontal"
                },
                {
                    "value": "none",
                    "label": "None"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "slide_mobile_resize",
            "label": "Resize to large on Mobile?",
            "default": true
        },
        {
            "type": "select",
            "id": "slideshow_size",
            "label": "Slideshow height",
            "default": "medium",
            "options": [
                {
                    "label": "Extra Small",
                    "value": "x-small"
                },
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                },
                {
                    "label": "Extra Large",
                    "value": "x-large"
                }
            ]
        },
        {
            "type": "select",
            "id": "slideshow_size_tablet",
            "label": "Slideshow tablet height",
            "default": "medium",
            "options": [
                {
                    "label": "Extra Small",
                    "value": "x-small"
                },
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                },
                {
                    "label": "Extra Large",
                    "value": "x-large"
                }
            ]
        },
        {
            "type": "select",
            "id": "slideshow_size_mobile",
            "label": "Slideshow mobile height",
            "default": "medium",
            "options": [
                {
                    "label": "Extra Small",
                    "value": "x-small"
                },
                {
                    "label": "Small",
                    "value": "small"
                },
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                },
                {
                    "label": "Extra Large",
                    "value": "x-large"
                }
            ]
        }
    ],
    "blocks": [
        {
            "type" : "slide",
            "name" : "Slide",
            "settings": [
                {
                    "type": "url",
                    "id": "slide_link",
                    "label": "Slide link"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "select",
                    "id": "image_vert_alignment",
                    "label": "Image vertical alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "top",
                            "label": "Top"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "image_horz_alignment",
                    "label": "Image horizontal alignment",
                    "default": "center",
                    "options": [
                        {
                            "value": "left",
                            "label": "Left"
                        },
                        {
                            "value": "center",
                            "label": "Middle"
                        },
                        {
                            "value": "right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content-vertical-alignment",
                    "label": "Content Vertical Alignment",
                    "default": "hero__content--middle",
                    "options": [
                        {
                            "value": "hero__content--top",
                            "label": "Top"
                        },
                        {
                            "value": "hero__content--middle",
                            "label": "Middle"
                        },
                        {
                            "value": "hero__content--bottom",
                            "label": "Bottom"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "content-horizontal-alignment",
                    "label": "Content Horizontal Alignment",
                    "default": "text-center",
                    "options": [
                        {
                            "value": "text-left",
                            "label": "Left"
                        },
                        {
                            "value": "text-center",
                            "label": "Center"
                        },
                        {
                            "value": "text-right",
                            "label": "Right"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "content_background_colour",
                    "label": "Content Background Colour",
                    "default": "#FFFFFF"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Heading",
                    "default": "Slideshow"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Text",
                    "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
                },
                {
                    "type": "select",
                    "id": "text_size",
                    "label": "Text size",
                    "default": "medium",
                    "options": [
                        {
                            "label": "Medium",
                            "value": "medium"
                        },
                        {
                            "label": "Large",
                            "value": "large"
                        }
                    ]
                },
                {
                    "type": "color",
                    "id": "text_colour",
                    "label": "Text Colour"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button label"
                },
                {
                    "type": "select",
                    "id": "button_style",
                    "label": "Button style",
                    "default": "btn--primary",
                    "options": [
                        {
                            "label": "Primary Button",
                            "value": "btn--primary"
                        },
                        {
                            "label": "Secondary Button",
                            "value": "btn--secondary"
                        }
                    ]
                },
                {
                    "type": "select",
                    "id": "button_size",
                    "label": "Button size",
                    "default": "btn--large",
                    "options": [
                        {
                            "label": "Large Button",
                            "value": "btn--large"
                        },
                        {
                            "label": "Normal Button",
                            "value": "btn--medium"
                        }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Slideshow",
            "category": "Image",
            "blocks": [
                {
                    "type": "slide"
                },
                {
                    "type": "slide"
                }
            ]
        }
    ]
}
{% endschema %}