{% if section.settings.show %}

<div class="{{ section.settings.section_layout }}">

    {% if section.settings.contain %}
    <div class="wrapper">
    {% endif %}
    
        <div class="grid grid-table {% if section.settings.content-vertical-alignment %}{{ section.settings.content-vertical-alignment }}{% endif %}">
            <div class="grid__item xlarge--one-half large--one-half medium--one-half small--one-whole {{ section.settings.text-horizontal-alignment }}">
                {% if section.settings.title != blank %}
                    <h2 class="h1 mega-title{% if section.settings.text_size == 'large' %} mega-title--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.title | escape }}</h2>
                {% endif %}
                {% if section.settings.text != blank %}
                    <div class="rte-setting mega-subtitle{% if section.settings.text_size == 'large' %} mega-subtitle--large{% endif %}"{% if section.settings.text_colour %} style="color: {{ section.settings.text_colour }}"{% endif %}>{{ section.settings.text }}</div>
                {% endif %}
            </div>
            <div class="grid__item xlarge--one-half large--one-half medium--one-half small--one-whole {{ section.settings.image-horizontal-alignment }}">
                {% if section.settings.image %}
                <img src="{{ section.settings.image | img_url: '480x' }}" alt="{{ section.settings.title }}">
                {% endif %}
            </div>
        </div>

    {% if section.settings.contain %}
    </div>
    {% endif %}

</div>

{% capture BorderThickness %}
{{ section.settings.border_thickness }}px
{% endcapture %}

<style style="text/css">

    #shopify-section-{{ section.id }} > div{
        padding-top: {{ section.settings.top_spacing }}px;
        padding-bottom: {{ section.settings.bottom_spacing }}px;
        background-color: {{ section.settings.background_colour }};
        border-top: {{ BorderThickness }} solid {{ section.settings.border_top }};
        border-bottom: {{ BorderThickness }} solid {{ section.settings.border_bottom }};
    }

</style>

{% endif %}

{% schema %}
{
    "name": "Text and Image",
    "class": "text-image-section",
    "settings": [
        {
            "type": "checkbox",
            "id": "show",
            "label": "Show section?",
            "default": true
        },
        {
            "type": "select",
            "id": "section_layout",
            "label": "Section Layout?",
            "default": "full-width",
            "info": "This will bleed the section to the full width of the screen.",
            "options": [
                {
                    "value": "full-width",
                    "label": "Full Width with padding"
                },
                {
                    "value": "full-width full-width--no-padding",
                    "label": "Full Width no padding"
                },
                {
                    "value": "boxed",
                    "label": "Boxed"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "contain",
            "label": "Contain content within wrapper?",
            "default": true,
            "info": "This will contain your content to a maximum of 1120px."
        },
        {
            "type": "text",
            "id": "top_spacing",
            "label": "Top Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "text",
            "id": "bottom_spacing",
            "label": "Bottom Spacing (in pixels)",
            "default": "20",
            "info": "Do not add units of measurement. E.g. px."
        },
        {
            "type": "color",
            "id": "background_colour",
            "label": "Background Colour",
            "default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_top",
            "label": "Border Top",
            "default": "#EEEEEE"
        },
        {
            "type": "color",
            "id": "border_bottom",
            "label": "Border Bottom",
            "default": "#EEEEEE"
        },
        {
          "type":   "range",
          "id":     "border_thickness",
          "min":       0,
          "max":       5,
          "step":      1,
          "unit":      "px",
          "label":     "Border Thickness",
          "default":   1
        },
        {
            "type": "select",
            "id": "content-vertical-alignment",
            "label": "Content Vertical Alignment",
            "default": "grid-table--middle",
            "options": [
                {
                    "value": "grid-table--top",
                    "label": "Top"
                },
                {
                    "value": "grid-table--middle",
                    "label": "Middle"
                },
                {
                    "value": "grid-table--bottom",
                    "label": "Bottom"
                }
            ]
        },
        {
            "type": "select",
            "id": "text-horizontal-alignment",
            "label": "Text Horizontal Alignment",
            "default": "text-center",
            "options": [
                {
                    "value": "text-left",
                    "label": "Left"
                },
                {
                    "value": "text-center",
                    "label": "Center"
                },
                {
                    "value": "text-right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "select",
            "id": "image-horizontal-alignment",
            "label": "Image Horizontal Alignment",
            "default": "text-center",
            "options": [
                {
                    "value": "text-left",
                    "label": "Left"
                },
                {
                    "value": "text-center",
                    "label": "Center"
                },
                {
                    "value": "text-right",
                    "label": "Right"
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Section Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "text_size",
            "label": "Text size",
            "default": "medium",
            "options": [
                {
                    "label": "Medium",
                    "value": "medium"
                },
                {
                    "label": "Large",
                    "value": "large"
                }
            ]
        },
        {
            "type": "color",
            "id": "heading_colour",
            "label": "Heading Colour"
        },
        {
            "type": "color",
            "id": "text_colour",
            "label": "Text Colour"
        }
    ],
    "presets": [
        {
            "name": "Text and Image",
            "category": "Content"
        }
    ]
}
{% endschema %}