/* ==================================== */
// Variables
/* ==================================== */

$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;
$xlarge: 1200px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;
$preXlarge: $xlarge - $viewportIncrement;

$colorPrimary: {{ settings.color_primary }};
$colorSecondary: {{ settings.color_secondary }};

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	//text-transform: uppercase;
}

.input-group .input-group-field:last-child, .input-group .input-group-btn:last-child>.btn, .input-group .input-group-btn:last-child>.btn--secondary{
	border-radius: 0px;
}

.ui-widget{

	&.ui-widget-content{
		border: none;
	}

	.ui-widget-header{
		padding: 0;
		background: transparent;
		border: none;

		.ui-tabs-tab{
			margin: 0;
			border-radius: 0px;
			background-color: transparent;
			border-top-width: 10px;
			border-right-width: 1px;
			border-style: solid;
			border-color: #c3c3c3;
			border-left: none;

			&:first-child{
				border-left: 1px solid #c3c3c3;
			}

			&.ui-state-active{
				border-top-color: #000;
			}

			.ui-tabs-anchor{
				padding: 16px 12px;
				color: #000;
				font-size: 1.25em;
				text-transform: uppercase;
			}
		}
	}

	.ui-tabs-panel{
		border: none;
		border-top: 1px solid #c3c3c3;
	}
}


.quick-cart-toggle{
	
	.quick-cart{
		box-shadow: none;
	}
}

.quick-account-toggle{
	
	.quick-account{
		box-shadow: none;
	}
}


.product-single{
	
	.product-single__title{
		text-transform: uppercase;
	}
}