/*============================================================================
  #Breakpoint and Grid Variables
==============================================================================*/
$viewportIncrement: 1px;

$small: 480px;
$medium: 768px;
$large: 769px;

$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

// Drawers
$drawerNavWidth: 300px;
$drawerCartWidth: 300px;

/*============================================================================
  #General Variables
==============================================================================*/

// Timber Colors
$colorPrimary: {{ settings.color_primary }};
$colorSecondary: {{ settings.color_secondary }};

// Button Colors
$primary_button_background: {{ settings.primary_button_background }};
$primary_button_font: {{ settings.primary_button_font }};

$secondary_button_background: {{ settings.secondary_button_background }};
$secondary_button_font: {{ settings.secondary_button_font }};

$tertiary_button_background: {{ settings.tertiary_button_background }};
$tertiary_button_font: {{ settings.tertiary_button_font }};

$atc_button_background: {{ settings.atc_button_background }};
$atc_button_font: {{ settings.atc_button_font }};

$checkout_button_background: {{ settings.checkout_button_background }};
$checkout_button_font: {{ settings.checkout_button_font }};


// Text link colors
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 15%);

// Text colors
$colorTextBody: {{ settings.color_body_text }};

// Backgrounds
$colorBody: {{ settings.color_body_bg }};

// Border colors
$colorBorder: {{ settings.color_borders }};

// Nav and dropdown link background
$nav_border_color: {{ settings.nav_border_color }};
$nav_bg: {{ settings.nav_bg }};
$nav_text: {{ settings.nav_text }};
$colorNav: #f2f2f2;
$colorNavText: #333;

// Site Header
$header_bg: {{ settings.header_bg }};
$header_text: {{ settings.header_text }};

// Site Footer
$colorFooterBg: {{ settings.color_footer_bg }};
$colorFooterText: {{ settings.color_footer_text }};

// Logo max width
$logoMaxWidth: {{ settings.logo_max_width | default: '450' | remove: 'px' }}px;

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Drawers
$drawerNavWidth: 300px;
$drawerCartWidth: 300px;
$colorDrawers: #f6f6f6;
$colorDrawerBorder: darken($colorDrawers, 5%);
$colorDrawerText: #333;
$drawerTransition: all 0.4s cubic-bezier(0.46, 0.01, 0.32, 1);

// Sizing variables
$siteWidth: 1180px;
$gutter: 30px;
$gridGutter: 30px; // can be a %, but nested grids will have smaller margins because of it
$radius: 3px;

// Z-index
$zindexNavDropdowns: 5;
$zindexDrawer: 10;

// Alert Box
$countdown_background_colour: {{ settings.countdown_background_colour }};
$countdown_font_colour: {{ settings.countdown_font_colour }};
$countdown_font_size: {{ settings.countdown_font_size }}px;

// Stock Colours
$out_of_stock: {{ settings.out_of_stock }};
$in_stock: {{ settings.in_stock }};

// Benefits Bar
$benefits_bar_font_size: {{ settings.benefits_bar_font_size }}px;
$benefits_bar_col_background: {{ settings.benefits_bar_col_background }};
$benefits_bar_font_colour: {{ settings.benefits_bar_font_colour }};

// Back to top button
$top_btn_background_color: {{ settings.top_btn_background_color }};
$top_btn_font_color: {{ settings.top_btn_font_color }};
$top_btn_hover_color: {{ settings.top_btn_hover_color }};

@mixin topBarFont () {
	{% if settings.top_bar_family contains ':' %}
	{% assign body_font = settings.top_bar_family | split: ':' %}
	font-family: {{ body_font[0] | replace:"+", " " }};
	font-weight: {{ body_font[1] }};
	{% else %}
	font-family: {{ settings.top_bar_family }};
	{% endif %}
}

@mixin headerFont () {
	{% if settings.type_header_family contains ':' %}
	{% assign body_font = settings.type_header_family | split: ':' %}
	font-family: {{ body_font[0] | replace:"+", " " }};
	font-weight: {{ body_font[1] }};
	{% else %}
	font-family: {{ settings.type_header_family }};
	{% endif %}
}

@mixin bodyFont () {
	{% if settings.body_copy_family contains ':' %}
	{% assign body_font = settings.body_copy_family | split: ':' %}
	font-family: {{ body_font[0] | replace:"+", " " }};
	font-weight: {{ body_font[1] }};
	{% else %}
	font-family: {{ settings.body_copy_family }};
	{% endif %}
}

@mixin buttonFont () {
	{% if settings.button_family contains ':' %}
	{% assign body_font = settings.button_family | split: ':' %}
	font-family: {{ body_font[0] | replace:"+", " " }};
	font-weight: {{ body_font[1] }};
	{% else %}
	font-family: {{ settings.button_family }};
	{% endif %}
}

@mixin navigationFont () {
	{% if settings.navigation_family contains ':' %}
	{% assign body_font = settings.navigation_family | split: ':' %}
	font-family: {{ body_font[0] | replace:"+", " " }};
	font-weight: {{ body_font[1] }};
	{% else %}
	font-family: {{ settings.navigation_family }};
	{% endif %}
}

@mixin transition($property: "all", $duration: 0, $easing: "ease-in-out", $delay: 0 ) {
	-webkit-transition: unquote($property) $duration unquote($easing) $delay;
	-moz-transition: unquote($property) $duration unquote($easing) $delay;
	-o-transition: unquote($property) $duration unquote($easing) $delay;
	transition: unquote($property) $duration unquote($easing) $delay;
}


/*=============================================
  #Base
================================================*/

body{
	
	@media only screen and (max-width: $small){
		font-size: 12px;
	}
}

body, input, textarea, button, select{
	@include bodyFont();
}

h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6{
	@include headerFont();
}

button, input[type="submit"], .btn{
	@include buttonFont();
}

body, a,
h1 a, .h1 a, h2 a, .h2 a, h3 a, .h3 a,
h4 a, .h4 a, h5 a, .h5 a, h6 a, .h6 a,
.text-link{
	color: $colorTextBody;
}

{% if settings.theme_layout == 'full-width' %}

.wrapper{ max-width: 100%; }

{% endif %}

button, select, .btn,
.input-group .input-group-field:first-child,
.input-group .input-group-btn:first-child,
.input-group .input-group-btn:first-child > .btn,
.input-group .input-group-btn:first-child > .btn--secondary,
.input-group input[type="hidden"]:first-child + .input-group-field,
.input-group input[type="hidden"]:first-child + .input-group-btn > .btn,
.input-group input[type="hidden"]:first-child + .input-group-btn > .btn--secondary{
	border-radius: 0px;
}

.main-content--home{ padding-top: 0px; }

.no-spacing{
	margin: 0px;
	padding: 0px;
}

/*=============================================
  #Buttons
================================================*/

.btn{
	border-style: solid;
	border-width: 1px;
	-webkit-transition: all ease-in-out 0.2s;
	-moz-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
	
	&.btn--primary{
		background-color: $primary_button_background;
		color: $primary_button_font;
		border-color: $primary_button_background;

		&:hover{
			color: $primary_button_background;
			background-color: $primary_button_font;
		}
	}

	&.btn--secondary{
		background-color: $secondary_button_background;
		color: $secondary_button_font;
		border-color: $secondary_button_background;

		&:hover{
			color: $secondary_button_background;
			background-color: $secondary_button_font;
		}
	}

	&.btn--tertiary{
		background-color: $tertiary_button_background;
		color: $tertiary_button_font;
		border-color: $tertiary_button_background;

		&:hover{
			color: $tertiary_button_background;
			background-color: $tertiary_button_font;
		}
	}

	&.btn--large{
		font-size: 1.5em;
	}

	&#AddToCart{
		background-color: $atc_button_background;
		color: $atc_button_font;
		border-color: $atc_button_background;

		&:hover{
			color: $atc_button_background;
			background-color: $atc_button_font;
		}
	}

	&#Checkout{
		background-color: $checkout_button_background;
		color: $checkout_button_font;
		border-color: $checkout_button_background;

		&:hover{
			color: $checkout_button_background;
			background-color: $checkout_button_font;
		}
	}
}


/*=====================================
  #Top Bar
======================================= */

$top_bar_background_colour: {{ settings.top_bar_background_colour }};
$top_bar_font_colour: {{ settings.top_bar_font_colour }};
$top_bar_font_size: {{ settings.top_bar_font_size }}px;

.top-bar{
	padding: 0.5em 0;
	background-color: $top_bar_background_colour;
	color: $top_bar_font_colour;
	font-size: $top_bar_font_size;
	@extend %bodyFontStyleSpaced;
	@include topBarFont();

	a{
		font-size: inherit;
		color: inherit;
	}
}

/*=====================================
  #Site Header
======================================= */

.header{
	
	&.is--sticky{
		position: fixed;
		left: 0;
		width: 100%;
		top: 0;
		z-index: 500;
		border-bottom: 1px solid $nav_border_color;
		-webkit-transition: left 0.4s ease-in-out;
		-moz-transition: left 0.4s ease-in-out;
		-o-transition: left 0.4s ease-in-out;
		transition: left 0.4s ease-in-out;

		body.js-drawer-open-left & {
			left: $drawerNavWidth;
		}

		//+ .benefits-bar{ display: none; }
	}
}

.site-header{
	background-color: $header_bg;

	@media only screen and ( max-width: $small ){
		padding: 5px 0;
	}

	li{
		
		> a{
			
			> span,
			> .fa-shopping-cart{
				color: $header_text;
			}
		}

		> .fa-user,
		> .fa-chevron-down{
			color: $header_text;
		}
	}

	select,
	.site-header__cart-toggle{
		color: $header_text;
	}

	.quicklinks{
		margin-bottom: 0px;

		i.fa-user,
		i.fa-shopping-cart{
			font-size: 1.5em;
		}

		i.fa-chevron-down{ font-size: 0.75em; }

		li{
			margin-left: 15px;
			
			&:first-child{ margin-left: 0; }
		}

		.btn.btn--primary{
			
			i{ font-size: 1em; }
		}
	}
}

.breadcrumb{
	
	@media only screen and ( max-width: $small ){
		font-size: 12px;
		margin-bottom: 15px;
	}
}


/*=====================================
  #Site Footer
======================================= */

.site-footer{

	a, p{
		color: $colorFooterText;
	}
	
	.site-footer__logo{
		margin: 0 auto 25px;

		img{
			max-width: {{ settings.footer_logo_max_width }}px;
		}
	}
}


/*=====================================
  #Benefits Bar
======================================= */

.benefits-bar{
	
	a, p{
		font-size: inherit;
		color: inherit;
	}

	.benefits-bar__col{
		border-width: 1px;
		border-style: solid;
		border-color: inherit;
		border-right: none;

		@media only screen and (max-width: $small){
			border-left: none;
			border-right: none;
		}
		
		&:first-child{ border-left: none; }

		&:last-child{ border-right: none; }
	}

	.col__inner{
		padding: 0.5rem;

		@media only screen and ( min-width: $postSmall ){
			padding: 1rem;
		}

		p{
			margin-bottom: 0;
			color: inherit;
			font-size: inherit;
			@extend %bodyFontStyleSpaced;
		
			strong{
				@extend %headerFontStyle;
				letter-spacing: 0px;
			}

			small{ font-size: 80%; }
		}
	}
}


/*=============================================
  #Hero
================================================*/

.hero{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	height: 0;
	width: 100%;

	&.hero--x-small{ height: 20vh; }
	&.hero--small{ height: 40vh; }
	&.hero--medium{ height: 60vh; }
	&.hero--large{ height: 80vh; }
	&.hero--x-large{ height: 90vh; }

	@media only screen and( min-width: $postSmall ) and ( max-width: $medium ){
		&.hero--tablet--x-small{ height: 20vh; }
		&.hero--tablet--small{ height: 40vh; }
		&.hero--tablet--medium{ height: 60vh; }
		&.hero--tablet--large{ height: 80vh; }
		&.hero--tablet--x-large{ height: 90vh; }
	}

	@media only screen and( max-width: $small ) {
		&.hero--mobile--x-small{ height: 20vh; }
		&.hero--mobile--small{ height: 40vh; }
		&.hero--mobile--medium{ height: 60vh; }
		&.hero--mobile--large{ height: 80vh; }
		&.hero--mobile--x-large{ height: 90vh; }
	}

	.hero__overlay{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.hero__inner{
		display: table;
		height: 100%;
		width: 100%;

		.hero__content{
			display: table-cell;
			width: 100%;
			height: 100%;
			padding: 15px;

			&.hero__content--top{
				vertical-align: top;
			}

			&.hero__content--middle{
				vertical-align: middle;
			}

			&.hero__content--bottom{
				vertical-align: bottom;
			}
		}
	}
}


/*=============================================
  #Hover Box
================================================*/

.hover-box{
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;

	&.hover-box--small{
		min-height: 15em;
	}

	&.hover-box--medium{
		min-height: 25em;
	}

	&.hover-box--large{
		min-height: 35em;
	}

	&:hover{
		
		.hover-box__inner{
			
			@media screen and (min-width: 789px){
				opacity: 1;
			}
		}
	}

	.hover-box__position{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100.5%;
	}

	.hover-box__content{
		display: table;
		height: 100%;
		width: 100%;
	}
	
	.hover-box__inner{
		display: table-cell;
		width: 100%;
		height: 100%;
		padding: 0 1.5em;
		-webkit-transition: opacity ease-in-out 0.3s;
		-moz-transition: opacity ease-in-out 0.3s;
		-o-transition: opacity ease-in-out 0.3s;
		transition: opacity ease-in-out 0.3s;
		opacity: 1;
			
		@media screen and (min-width: 789px){
			opacity: 0;
		}

		&.hover-box__inner--top{
			vertical-align: top;
		}

		&.hover-box__inner--middle{
			vertical-align: middle;
		}

		&.hover-box__inner--bottom{
			vertical-align: bottom;
		}
	}
}

/*=============================================
  #Image Link
================================================*/

.image-link{
	margin-bottom: 20px;

	a{

		&:hover{

			img{ opacity: 0.85; }
		}
	}

	img{
		display: block;
		width: 100%;
	}

	.image-link__inner{
		margin-top: 20px;
	}	
}


/*=============================================
  #Slideshow
================================================*/

.slideshow{	
	height: 100%;

	&.slideshow--x-small{ height: 20vh; }
	&.slideshow--small{ height: 40vh; }
	&.slideshow--medium{ height: 60vh; }
	&.slideshow--large{ height: 80vh; }
	&.slideshow--x-large{ height: 90vh; }

	@media only screen and( min-width: $postSmall ) and ( max-width: $medium ){
		&.slideshow--tablet--x-small{ height: 20vh; }
		&.slideshow--tablet--small{ height: 40vh; }
		&.slideshow--tablet--medium{ height: 60vh; }
		&.slideshow--tablet--large{ height: 80vh; }
		&.slideshow--tablet--x-large{ height: 90vh; }
	}

	@media only screen and( max-width: $small ) {
		&.slideshow--mobile--x-small{ height: 20vh; }
		&.slideshow--mobile--small{ height: 40vh; }
		&.slideshow--mobile--medium{ height: 60vh; }
		&.slideshow--mobile--large{ height: 80vh; }
		&.slideshow--mobile--x-large{ height: 90vh; }
	}

	.slide{
		width : 100%;
		height: 100%;

		&.slide--mobile{
			@media (max-width: $small){
				padding-bottom: 90% !important;
			}
		}

		.slide__position{
			position : absolute;
			top      : 0;
			right    : 0;
			bottom   : 0;
			left     : 0;

			.slide__content{
				height : 100%;
				> a {
					display	: block;
					height	: 100%;
				}
				.hero{
					height : 100%;
					background-size: cover;
				}
			}
		}

		.hero__content{
			
			&.text-right{
				
				.content__box{
					float: right;
				}
			}

			&.text-center{
				
				.content__box{
					display: inline-block;
					margin: 0 auto;
				}
			}

			&.text-left{
				
				.content__box{
					float: left;
				}
			}

			.content__box{
				padding: 10px;

				p{
					margin-bottom: 5px;
				}

				.btn{
					margin-top: 20px;
				}
			}
		}
	}

	.cycle-pager{
		padding: 10px 0 0;
		text-align: center;
		
		span{
			display: inline-block;
			height: 20px;
			width: 20px;
			margin: 0 2px;
			padding: 4px 2px;
			cursor: pointer;
			color: #000;
			border: 1px solid #000;

			&.cycle-pager-active{
				
				a{ background-color: #a2a2a2; }
    		}

			a{
				display: block;
				height: 10px;
				width: 10px;
				margin: 0 auto;
				background-color: #000;
			}
		}
	}
}


/*=============================================
  #Grid
================================================*/

.grid-table{
	display: table;

	@media screen and (max-width: 480px){
		display: block;
	}

	&.grid-table--top{

		.grid__item{
			vertical-align: top;
		}
	}

	&.grid-table--middle{

		.grid__item{
			vertical-align: middle;
		}
	}

	&.grid-table--bottom{

		.grid__item{
			vertical-align: bottom;
		}
	}

	.grid__item{
		float: none;
		display: table-cell;
		height: 100%;

		@media screen and (max-width: 480px){
			float: left;
			display: block;
			height: auto;
		}
	}
}

.grid-equal{
	display: flex;
    flex-wrap: wrap;

    > .grid__item{
		display: flex;
    	flex-direction: column;

    	&.product-grid-item{
			
			.product-grid-item__title{ margin-top: auto; }
    	}
	}
}


/*=============================================
  #Full Width
================================================*/

.full-width {
	width: 99.2vw;
	position: relative;
	left: 50%;
	//right: 50%;
	margin-left: -49.6vw;
	//margin-right: -50vw;

	> .grid{
		padding: 0 15px;

		@media screen and (min-width: 481px){
			padding: 0 30px;
		}
	}

	> .grid--full{ padding: 0px; }

	&.full-width--no-padding{
		
		> .grid{
			padding: 0;
			margin-left: 0;

			@media screen and (min-width: 481px){
				padding: 0;
				margin-left: 0;
			}

			> .grid__item{
				padding-left: 0;
			}
		}
	}	
}


/*=============================================
  #Mega Menu
================================================*/

.sticky-nav{
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	background-color: $nav_bg;
	color: $nav_text;

	.sitenav, .mega-menu{
		background-color: inherit;
		
		li > a{ color: $nav_text; }
	}

	.sticky-nav__insert{
		opacity: 0;
	}

	&.is--visible{
		display: block;

		.sticky-nav__insert{
			opacity: 1;
			-webkit-transition: opacity 0.2s ease-in-out 0.2s;
			-moz-transition: opacity 0.2s ease-in-out 0.2s;
			-o-transition: opacity 0.2s ease-in-out 0.2s;
			transition: opacity 0.2s ease-in-out 0.2s;
		}
	}
}

.nav-bar{
	position: relative;	
	background-color: $nav_bg;
	color: $nav_text;
	border-top: 1px solid $nav_border_color;
	{% if settings.show_benefits_bar == false %}
	border-bottom: 1px solid $nav_border_color;
	{% endif %}

	.sitenav, .mega-menu{
		background-color: inherit;
		
		li > a{ color: $nav_text; }
	}
}

.mega-menu{
	margin: 0 0 0 -15px;
	background-color: $colorNav;

	.wrapper{
		max-width: 1180px;
	}

	&.site-nav{
		
		>li{ position: static; }
	}

	a{
		display: block;
		color: $colorNavText;

		@include navigationFont();
	}

	> li{

		a{
			padding: 10px 15px;
			font-size: 16px;
		}

		&:hover{
			
			> .mega-menu__drop{
				display: block;
			}
		}
	}

	.mega-menu__drop{
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		display: none;
		padding: 15px;
		z-index: 800;
		background-color: $colorNav;

		ul{
			margin-left: 0;
		}

		li{ display: block; }

		a{
			display: block;
			padding: 5px 0;
		}
	}
}

.site-nav{
	
	.site-nav__link{
		color: $nav_text;
		padding: 15px;
		font-size: 16px;
	}
}

/*=============================================
  #Quantity Selectors
================================================*/

.form-horizontal{
	
	.js-qty{
		display: inline-block;
		margin-left: 4px;
	}
}

.js-qty {
  position: relative;
  margin-bottom: 1em;
  max-width: 100px;
  min-width: 75px;
  overflow: visible;

  input {
    display: block;
    width: 100%;
    padding: 5px 25px;
    margin: 0;
    border-radius: 0px;
    background: none;
    text-align: center;
  }
}

.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 8px;
  background: none;
  text-align: center;
  overflow: hidden;

	&:hover,
	&:focus {
		color: $colorPrimary;
	}
}

.js-qty__adjust--plus {
	right: 0;
	border-left: 1px solid $colorBorder;
}

.js-qty__adjust--minus {
	left: 0;
	border-right: 1px solid $colorBorder;
}


/*=============================================
  #Quick Cart
================================================*/

.quick-cart-toggle{
	position: relative;

	&:hover{
		
		.quick-cart{
			display: block;
		}
	}

	.quick-cart{
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 320px;
		padding: 10px;
		z-index: 9999;
		background: #FFF;
		border: 1px solid $colorBorder;
		white-space: nowrap;
		box-shadow: 0px 2px 5px 0px #cecece;

		img{
			float: left;
			width: 75px;
		}

		.quick-cart__item{
			padding-top: 10px;
			margin-bottom: 10px;
			border-top: 1px solid $colorBorder;

			&:first-child{
				padding-top: 0;
				border-top: none;
			}
		}

		.item__content{
			overflow: hidden;
			padding-left: 10px;

			p{
				margin-bottom: 0;
				white-space: normal
			}
		}

		.item__remove{
			cursor: pointer;
		}
	}
}


/*=============================================
  #Quick Account
================================================*/

.quick-account-toggle{
	position: relative;
	padding: 0 5px;

	&:hover{
		
		.quick-account{
			display: block;
		}
	}

	.quick-account{
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		width: 200px;
		padding: 10px;
		z-index: 9999;
		text-align: left;
		background: #FFF;
		border: 1px solid $colorBorder;
		white-space: nowrap;
		box-shadow: 0px 2px 5px 0px #cecece;

		p{
			margin-bottom: 5px;
			white-space: normal
		}
	}
}


/*=============================================
  #Alert Box - Product Page
================================================*/

.alert-box{
	margin-bottom: 20px;
	padding: 1em 0.5em;
	background-color: $countdown_background_colour;
	font-size: $countdown_font_size;
	color: $countdown_font_colour;
	@include headerFont ();
}


/*=============================================
  #Product Grid Item
================================================*/

.product-grid-item{
	margin-bottom: 35px;

	&:hover{

		.image__second{
			opacity: 1;
		}
	}

	.product-grid-item__image{
		position: relative;
		margin-bottom: 10px;

		img, a{ display: block; }

		.product-sticker{
			position: absolute;
			top: 0;
			left: 0;
			padding: 5px 10px;
			background-color: #F00;
			color: #FFF;
			z-index: 2;
			@include headerFont();

			&.product-sticker--sale{
				background-color: #F00;
				color: #FFF;
			}

			&.product-sticker--sold-out{
				background-color: #000;
				color: #FFF;
			}
		}

		&.image--hover{
			overflow: hidden;

			&:hover{
				.image__second{ opacity: 1; }
			}
			
			.image__second{
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				-webkit-transition: opacity ease-in-out 0.2s;
				-moz-transition: opacity ease-in-out 0.2s;
				-o-transition: opacity ease-in-out 0.2s;
				transition: opacity ease-in-out 0.2s;
			}
		}
	}

	.product-grid-item__price{
		margin-bottom: 5px;

		> span.money,
		.product-grid-item__sale{
			font-size: 1.25em;
		}
		
		.product-grid-item__sale{
			color: #F00;
		}
	}

	.spr-badge{
		margin-bottom: 5px;
	}

	.btn{ margin-top: 5px; }
}


/*=============================================
  #Collection
================================================*/

.collection-sorting{

	@media only screen and ( max-width: $medium ){
		margin-top: 20px;
	}

	.form-horizontal{
		margin-bottom: 20px;
	}

	.collection-view{
		margin-bottom: 20px;
	}
}

.collection-filters-block{
	display: none;
	margin-top: 10px;
	
	@media only screen and ( min-width: $large){
		display: block;
		margin-top: 0;
	}
}

.collection__list{

	li{
		padding: 5px 10px;
	}
	
	a{
		display: block;
		padding: 5px 10px;
		border: 1px solid $colorBorder;
	}
}


/*=============================================
  #Product Page
================================================*/

.product-single{

	.product-single__inventory{
		margin-top: 7px;

		p{
			margin-bottom: 0;
			font-size: 14px;
			text-transform: uppercase;
			@include headerFont ();
		}

		.inventory__sold-out{
			color: $out_of_stock;
		}

		.inventory__in-stock{
			color: $in_stock;
		}
	}

	.product-single__price{
		margin-bottom: 0;
	}

	.product-single__sku{
		margin-bottom: 10px;
	}

	#AddToCart, #Checkout{ margin-bottom: 15px; }

	.product-single__compare-price{
		margin-bottom: 0px;

		.money{ text-decoration: line-through; }

		+ span + #ProductPrice{ color: #F00; }
	}

	.product-single__title{
		
		@media only screen and ( max-width: $small ){
			font-size: 20px;
		}
	}

	.js-qty{

		.js-qty__num{
			font-size: 12px;

			@media only screen and ( min-width: $large){
				font-size: 16px;
			}
		}
	}

	.note{ margin-top: 15px; }

	.product-single__image{
		
		img{
			width: 100%;
		}
	}

	.product-single__images{
		position: relative;
		overflow: hidden;

		@media only screen and (min-width: $large){
			&:hover{
				
				.images__arrow{
					opacity: 1;
				}
			}
		}

		> div{
			width: 100%;
		}

		img{
			display: none;
			width: 100%;
			margin: 0 auto;

			&:first-child{ display: block; }
		}

		.images__container{
			display: none;
		}
		
		.images__arrow{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 40px;
			margin: 0 auto;
			cursor: pointer;
			font-size: 18px;
			z-index: 101;
			background-color: rgba(255,255,255,0.6);

			@media only screen and (min-width: $large){
				opacity: 0;
				-webkit-transition: opacity 0.2s ease-in-out;
				-moz-transition: opacity 0.2s ease-in-out;
				-o-transition: opacity 0.2s ease-in-out;
				transition: opacity 0.2s ease-in-out;
			}

			i{
				position: relative;
				top: 50%;
				margin-top: -18px;;
			}

			&#prev{
				left: 0;
			}

			&#next{
				right: 0;
			}
		}
	}

	.product-single__thumbnails{
		margin-top: 10px;

		.cycle-slide{
			display: none;
			width: 100% !important;
			max-width: 20%;
			padding: 2px;

			&:hover{ cursor: pointer; }
		}

		.cycle-carousel-wrap{
			width: 100%;
		}
	}

	.thumbnails-pager{
		margin-top: 10px;

		p:hover{ cursor: pointer; }
	}

	.selector-wrapper{

		&.is--hidden{ display: none; }	
	}
}

.quantity-selector{
	@include headerFont ();
}

/*=============================================
  #Cart
================================================*/

.cart{

	#checkout, #updateCart{
		margin-bottom: 15px;
	}

	.js-qty{
		max-width: 82px;
		
		button{
			font-size: 10px;
		}

		input{
			font-size: 10px;
		}
	}
}

/*=============================================
  #Recently Viewed
================================================*/

/* Some styles to get you started */
.collection {
clear: both;
padding-top: 50px;
}
.collection .product {
float: left;
text-align: center;
width: 162px; /* 160px + 1px + 1px for the borders on either side */
margin: 0 14px 14px 0;
padding: 0;
position: relative; /* used to display absolutely positioned sale tag */
overflow: hidden;
}
.collection .product.last {
margin-right: 0;
}
.collection .product .image {
border: 1px solid #E0E0E0;
margin-bottom: 10px;
height: 160px;
overflow: hidden;
}
.collection .product .cy {
display: block;
margin: 0 auto;
}
.collection .product .image img {
max-width: 160px;
}
.collection .product .title {
display: block;
line-height: 16px;
font-size: 12px;
color: #222;
font-weight: 700;
}
.collection .product .price {
display: block;
line-height: 16px;
font-size: 11px;
color: #777;
font-weight: normal;
}
/* new clearfix */
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/*=============================================
  #Swatches
================================================*/

/* 
   Swatches Styles
*/
{% assign width = '30px' %}
{% assign height = '30px' %}
.swatch { 
  margin:0; 
}
/* Label */
.swatch .header {
  margin: 0 0 0.5em 0;
}
/* Hide radio buttons.*/
.swatch input { 
  display:none;
}
.swatch label {
  /* Rounded corners */
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
  /* To give width and height */
  float:left;
  /* Color swatches contain no text so they need to have a width. */
  min-width:{{ width }} !important; 
  height:{{ height }} !important;
  /* No extra spacing between them */
  margin:0;
  /* The border when the button is not selected */
  border:#ccc 1px solid;
  /* Background color */
  background-color:#ddd;
  /* Styling text */
  font-size:13px;
  text-align:center;
  line-height:{{ height }};
  white-space:nowrap;
  text-transform:uppercase;
  background-color: transparent;
}
.swatch-element label { padding:0 10px; }

.color.swatch-element label { padding:0; }
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label {
  border:#000 1px solid;
} 
.swatch .swatch-element {
  float:left;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  /* Spacing between buttons */
  margin:0px 10px 10px 0;
  /* To position the sold out graphic and tooltip */
  position:relative;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
}
/* Tooltips */
.swatch .tooltip {
  text-align:center;
  background:gray;
  color:#fff;
  bottom:100%;
  padding: 10px;
  display:block;
  position:absolute;
  width:100px;
  left:{{ width | remove: 'px' | to_number | divided_by: 2 | minus: 50 | plus: 2 }}px;
  margin-bottom:15px;
  /* Make it invisible by default */
  filter:alpha(opacity=0);
  -khtml-opacity: 0;
  -moz-opacity: 0;
  opacity:0;
  visibility:hidden;
  /* Animations */
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
     -moz-transition: all .25s ease-out;
      -ms-transition: all .25s ease-out;
       -o-transition: all .25s ease-out;
          transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
      -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
       -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  z-index: 10000;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box; 
  box-sizing:border-box;
}
.swatch .tooltip:before {
  bottom:-20px;
  content:" ";
  display:block;
  height:20px;
  left:0;
  position:absolute;
  width:100%;
}
/* CSS triangle */
.swatch .tooltip:after {
  border-left:solid transparent 10px;
  border-right:solid transparent 10px;
  border-top:solid gray 10px;
  bottom:-10px;
  content:" ";
  height:0;
  left:50%;
  margin-left:-13px;
  position:absolute;
  width:0;
}
.swatch .swatch-element:hover .tooltip {
  filter:alpha(opacity=100);
  -khtml-opacity:1;
  -moz-opacity:1;
  opacity:1;
  visibility:visible;
  -webkit-transform:translateY(0px);
     -moz-transform:translateY(0px);
      -ms-transform:translateY(0px);
       -o-transform:translateY(0px);
          transform:translateY(0px);
}
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}

.swatch input[type="radio"]{ display: none; }

.back-to-top-btn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    background-color: $top_btn_background_color;
    color: $top_btn_font_color;
    cursor: pointer; 
   	height:50px;
   	width: 50px;
    font-size: 22px; 
    z-index: 200;
}

.back-to-top-btn:hover {
    background-color: $top_btn_hover_color;
}


/*=============================================
  #Modules
================================================*/

.bordered-content{
	border: 1px solid $colorBorder;
	padding: 10px 15px;
	margin-bottom: 15px;
}