(function ($) {
	
	var Interpolate = Interpolate || {};

	/**
	 * Get the current device Size
	 **/
	Interpolate.getDevice = function () {
		
		if( $(window).outerWidth() >= 769 ){

			return 'desktop';
		
		}else if( $(window).outerWidth() <= 768 && $(window).outerWidth() >= 481 ){

			return 'tablet';
		
		}else if( $(window).outerWidth() <= 480 ){

			return 'mobile';
		}
	}

	Interpolate.changeBGImg = function (ele, size) {

		var $ele = ele;

		if( $ele.hasClass('is--'+size) ){ return; }

		// Remove any is--desktop, is--tablet, is--mobile classes
		$ele.removeClass (function (index, className) {
		    return (className.match(/(is--[a-z]+)/g) || []).join(' ');
		});

		var imgUrl = "url("+$ele.data(size+'-image')+")";
		
		$ele.css('background-image', imgUrl ).addClass('is--'+size);
	}

	Interpolate.BGImgResize = function (selector) {
		
		var self 	= this,
			$eles 	= $(selector);

		if( $eles.length == 0 ){ return; }

		$(window).on('resize', function () {

			var device = self.getDevice();

			$eles.each(function () {

				self.changeBGImg( $(this), device );
			});
		});
	}

	Interpolate.loadBGImgs = function (selector) {
		
		var self 	= this,
			$eles 	= $(selector),
			device 	= self.getDevice();

		if( $eles.length == 0 ){ return; }

		$eles.each(function () {

			self.changeBGImg( $(this), device );
		});
	}

	Interpolate.countdown = function (ele, time) {

		var $ele = $(ele);

		if( $ele.length == 0 ){
			return;
		}

		var arr = time.split(":");

		// Set the date we're counting down to
		var countDownDate 	= new Date(),
			content 		= '{{ settings.alert_text }}';

		countDownDate.setHours(arr[0]);
		countDownDate.setMinutes(arr[1]);
		countDownDate.setSeconds(arr[2]);

		var countDownTime = countDownDate.getTime();

		// Update the count down every 1 second
		var x = setInterval(function() {

			// Get todays date and time
			var nowDate = new Date(),
				nowTime = nowDate.getTime();

			if( nowDate.getDay() == 0 || nowDate.getDay() == 6 ){

				clearInterval(x);
				$ele.remove();
			}

			// Find the distance between now an the count down date
			var distance = countDownTime - nowTime;

			{% if settings.countdown_restart %}

			// If the count down is finished, write some text 
			if (distance <= 0) {

				countDownDate.setDate(countDownDate.getDate() + 1);
				countDownTime = countDownDate.getTime();
			}
			{% else %}

			if (distance <= 0) {

				clearInterval(x);
				$ele.remove();
			}
			{% endif %}

			// Prevents the time from being output as -1d -12h etc...
			if (distance > 0) {

				// Time calculations for days, hours, minutes and seconds
				var days = Math.floor(distance / (1000 * 60 * 60 * 24));
				var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
				var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				var time = {% if settings.show_countdown_days %}days + "d " + {% endif %}{% if settings.show_countdown_hours %}hours + "h "
				+ {% endif %}minutes + "m " + seconds + "s ";

				var str = content.replace('[countdown]', time);

				if( $ele.is(':hidden') ){
					
					$ele.removeAttr('style');
				}

				// Display the result in the element with id="ele"
				$ele.text(str);
			}

		}, 1000);
	}

	Interpolate.bannerSlideshow = function () {

		var self 		= this,
			$slides 	= $('#benefitsBarSlides');

		if( $(window).outerWidth() <= 768 ){

			self.createBannerSlides();
		}

		$(window).on('resize', function () {

			if( $(window).outerWidth() <= 768 ){

				if( !$slides.hasClass('cycle-started') ){

					self.createBannerSlides();
				}
			
			}else{

				if( $slides.hasClass('cycle-started') ){

					$slides.cycle('destroy');
				}
			}
		});
	}

	Interpolate.createBannerSlides = function () {

		var $slides = $('#benefitsBarSlides');

		$slides.on('cycle-initialized', function(event, optionHash){

			$(this).addClass('cycle-started');
		});

		$slides.on('cycle-destroyed', function(event, optionHash){

			$(this).removeClass('cycle-started');
		});

		$slides.cycle({
		    slides: '.benefits-bar__col',
		    autoHeight: 'calc',
		    'fx': 'scrollHorz'
		})
	}

	Interpolate.filterToggle = function () {
		
		var $toggle 	= $('#filterToggle'),
			$filters 	= $('#shopify-section-collection-filters');

		if( $toggle.length > 0 ){

			$toggle.on('click', function () {
				
				$filters.toggle();
			});

			$(window).on('resize', function () {

				if( $(window).outerWidth() > 768 ){
					
					$filters.removeAttr('style');
				}
			});
		}
	}

	Interpolate.showStickyNav = function () {

		var $sticky = $('#stickyMenu');

		if (document.body.scrollTop > 30 || document.documentElement.scrollTop > 30) {
			if( !$sticky.is(':visible') ){
				$sticky.show(200);
			}
		} else {
			if( $sticky.is(':visible') ){
				$sticky.hide(200);
			}
		}
	}

	Interpolate.copyMegaMenu = function () {

		var self	 	= this,
			$megaMenu 	= $('#MegaMenu'),
			$clone 		= $megaMenu.clone(true),
			$sticky 	= $('#stickyMenu .sticky-nav__insert');

		$sticky.append($megaMenu);
	}

	Interpolate.init = function () {

		var self = this;

		{% if settings.show_benefits_bar %}
		self.bannerSlideshow();
		{% endif %}

		{% if settings.do_countdown and settings.countdown_time != "" %}

		var dt 				= new Date(),
			currentMonth 	= ('0'+(dt.getMonth()+1)).slice(-2),
			currentDate 	= ('0'+(dt.getDate()+1)).slice(-2),
			date 			= dt.getFullYear()+"-"+currentMonth+"-"+currentDate + 'T{{ settings.countdown_time }}';

		self.countdown('#alertbox', '{{ settings.countdown_time }}');

		{% endif %}

		{% if settings.make_nav_stkicky %}
		self.copyMegaMenu();
		window.onscroll = function() { self.showStickyNav() };
		{% endif %}

		self.filterToggle();
	}

	Interpolate.init();

})(jQuery);