<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->

  {% include 'google-fonts' %}

  {% comment %}
  {{ '//use.fontawesome.com/releases/v5.0.13/css/all.css' | stylesheet_tag }}
  {% endcomment %}
  
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">

  {{ 'jquery-ui.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.structure.min.css' | asset_url | stylesheet_tag }}
  {{ 'jquery-ui.theme.min.css' | asset_url | stylesheet_tag }}
  {{ 'remodal.css' | asset_url | stylesheet_tag }}
  {{ 'remodal-default-theme.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'timber-extended.scss.css' | asset_url | stylesheet_tag }}
  {{ 'custom.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' | script_tag }}
  {{ 'jquery-ui.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ 'remodal.min.js' | asset_url | script_tag }}
  {{ 'lazyload.min.js' | asset_url | script_tag }}
  {{ 'jquery-cycle-2.min.js' | asset_url | script_tag }}
  {{ 'jquery-cycle-2-carousel.min.js' | asset_url | script_tag }}
  {% if settings.show_multiple_currencies %}
    {{ '//cdn.shopify.com/s/javascripts/currencies.js' | script_tag }}
    {{ "jquery.currencies.min.js" | asset_url | script_tag }}
  {% endif %}
  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
  {{ 'jquery.products.min.js' | asset_url | script_tag  }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'handlebars.min.js' | asset_url | script_tag  }}

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% include 'mobile-nav' %}
  
  {% include 'ajax-cart-drawer' %}

  <div id="PageContainer" class="is-moved-by-drawer">

    {% section 'promo-bar' %}

    <header id="header" class="header" role="banner">

      {% section 'site-header' %}

      {% include 'site-nav' %}

    </header>

    {% section 'benefits-bar' %}

    <main class="wrapper main-content {% if template == 'index' %}main-content--home{% endif %}" role="main">
      {{ content_for_layout }}
    </main>

    {% include 'footer' %}
    
  </div>
  <button class="back-to-top-btn" id="BackToTopButton"><i class="fa fa-angle-up"></i></button>

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'timber.js' | asset_url | script_tag }}
  {{ 'ajax-cart.js' | asset_url | script_tag }}
  {{ 'timber-extended-min.js' | asset_url | script_tag }}
  
  {% include 'inline-javascript' %}
</body>
</html>
